.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: white;
}
.drag-custom-preview{
  width: 30%;
  height: 40px;
  background: white;
  padding: 10px;
}
.drag-row{
  cursor: grab;
}
.drag-row:hover{
  cursor: grabbing;
}
