
<app-onboarding></app-onboarding>

<div class="banner-part">
    <div class="container-fluid p-0">


        <div class="banner-secn">
            <ul>
                <li> <img src="../../assets/images/iner-bannr-img1.png" alt=""> </li>
        
            </ul>
        </div>

    </div>

</div>

<div class="main-body">
    <div class="container">
        
            <div class="page-in-sec">
                <div class="row">
            <div class="col-md-3">
                <nav class='animated bounceInDown'>
                    <ul class="asidenav">
                        <li class="active"><a href='#div1'><img src="../../assets/images/key-respo-icon.png" alt=""> What is RERA</a></li>
                        <li><a href='#div2'> <i class="fa fa-key" aria-hidden="true"></i> Key Responsibility</a></li>
                        <li><a href='#div3'><img src="../../assets/images/organisational-stract-icon.png" alt=""> Organisational Structure</a></li>
                        <li><a href='#div4'><img src="../../assets/images/contact-us-icon.png" alt=""> Contact Us</a></li>
                    </ul>
                </nav>
                </div>
                <div class="col-md-9">
                <div id="container_div" class="resp-tabs-container">
                    <div id="div1" class="resp-tabs-container_in active">
                        <h3>What is Rera</h3>
                        <div>
                            <p>
                                <img src="../../assets/images/realestate-image.jpg" class="pull-right what_rera_img" alt=""> About Us The real estate sector has grown in the recent years but has largely been unregulated from the perspective of consumer protection. Though, consumer protection laws are available, the recourse available therein is only curative, but not preventive.
                            Government of India has enacted the Real Estate (Regulation and Development) Act 2016 and all the sections of the Act have come into force with effect from May 1, 2017. The Bihar Real Estate (Regulation & Development) Rules 2017
                            (Including Agreement for Sale Rules) was notified by the Government of Bihar on April 28th, 2017. The Real Estate Regulatory Authority of Bihar will provide the platform for Registration of the Real Estate Projects with Promoter
                            details and the Real Estate Agents. Apart from this it will also receive the complaints related to various stakeholders as given under the aforementioned act and the rules.</p>
                        </div>
                        <div><p>
                            Real Estate Regulatory Authority and Appellate Tribunal Government of Bihar is the appropriate Government under the Act for the State of Bihar in terms of clause (g) of Section 2 of this Act. Exercising the power conferred by the third proviso to sub-section
                            (1) of section 20 and first proviso to sub section (4) of section 43 of the Act, The Government of Bihar has designated The Principal Secretary, Urban development and Housing Department, Government of Bihar as the Regulatory Authority
                            and The Bihar Land Tribunal, as the Appellate Tribunal respectively vide Notification nos. 348 & 349 and 346 & 347 dated 28th April 2017.</p>
                        </div>
    
                    </div>
                    <div id="div2" class="resp-tabs-container_in">
                        <div class="accrod_dv">
                            <h3>Functions and Services</h3>
                            <div class="func_lst">
                              <p>The key responsibilities of the Authority shall be as follows:</p>
                              <ul>
                                <li>Ensuring Disclosures of Real Estate Projects by Promoters</li>
                                <li>Real Estate Projects Registration</li>
                                <li>Real Estate Agents Registration</li>
                                <li>Complaints Redressal</li>
                              </ul>
                              <p>The Appellate Tribunal will hear appeals from the decisions, directions or orders of the Real Estate Regulatory Authority. Any person aggrieved by any direction or decision or order made by the Authority or by an adjudicating officer may file an appeal before the Appellate Tribunal.</p>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Real Estate Projects Registration </a> </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <div class="accro_in">
                                    <p>  All commercial and residential real estate projects will have to register except in projects where</p>
                          
                          <ul>
                          <li>    Area of land proposed to be developed does not exceed five hundred square meters</li>
                          <li>    Number of apartments proposed to be developed does not exceed eight inclusive of all phases</li>
                          <li>    Promoter has received completion certificate for a real estate project prior to commencement of this Act</li>
                          <li>    For the purpose of renovation or repair or re-development which does not involve marketing, advertising selling or new allotment of any apartment, plot or building, as the case may be, under the real estate project</li>
                          </ul>
                          
                          <p>Promoter of ongoing real estate projects, in which all buildings as per sanctioned plan have not received Completion Certificate, shall also be required to be registered for such phase of the project which consists of buildings not having occupation or completion certificate.</p>
                          
                          <p>If any promoter fails to register as per Act, he shall be liable to a penalty which may extend up to ten per cent of the estimated cost of the real estate project. On continued violation, he shall be punishable with imprisonment for a term which may extend up to three years or with fine which may extend up to a further ten per cent of the estimated cost of the real estate project, or with both. [See Rule 35 of Bihar Real Estate (Regulation & Development) Rules 2017]
                          </p>
                          <p>Apart from Registration, the promoters shall be required to provide quarterly updates on the status of the project to the authority.</p>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
                          Real Estate Agents Registration </a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body"> 
                                  <p>All Real Estate Agents should register under this Act. No real estate agent shall facilitate the sale or purchase of or act on behalf of any person to facilitate the sale or purchase of any plot, apartment or building, as the case may be, in a real estate project or part of it, without obtaining registration under this section.</p>
                          <p>
                          If any real estate agent fails to register, he shall be liable to a penalty of ten thousand rupees for every day during which such default continues, which may cumulatively extend up to five per cent of the cost of plot, apartment or buildings, as the case may be, of the real estate project, for which the sale or purchase has been facilitated.
                          </p>
                                   </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Complaints </a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body"> <p>Any aggrieved person may file a complaint with The Bihar RERA or the adjudicating officer, as the case may be, with respect to any registered real estate project, for any violation or contravention of the provisions of this Act or the rules and regulations made there under.</p>
                          
                          <p>Any person aggrieved by any direction or decision or order made by The Bihar RERA or by an adjudicating officer may file an appeal before the Appellate Tribunal.</p>
                          
                          <p>Any person aggrieved by any decision or order of the Appellate Tribunal, may file an appeal to the High Court. </p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Financial </a> </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                  <div class="panel-body"> 
                                  <ul>
                                  <li>
                              A promoter shall not accept more than ten per cent of the cost of the apartment, plot, or building as the case may be, as an advance payment or an application fee, from a person without first entering into a written agreement for sale with such person and register the said agreement for sale.</li>
                          <li>    Seventy per cent of the amounts realized for the real estate project from the allottees, from time to time, shall be deposited in a separate account to be maintained in a scheduled bank to cover the cost of construction and the land cost and shall be used only for that purpose.</li>
                              <li>Withdrawal from such accounts shall be in proportion to the percentage of completion of the project, which shall be certified by an engineer, an architect and a chartered accountant in practice.</li>
                          
                                  </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Transparency </a> </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                  <div class="panel-body"> <p>Details of all the Registered Projects shall be available online for citizens including</p>
                          
                          <ul>
                          
                          <li>    Sanctioned plans, layout plans, along with specifications, approved by the competent authority</li>
                          <li>    Proposed Plan, Proposed Layout Plan of the whole project and Floor Area Ratio (FAR) proposed to be consumed in the whole project, as proposed by the promoter</li>
                          <li>    Proposed Number of building(s) or wing(s) to be constructed and sanctioned number of the building(s) or wing(s).</li>
                          <li>    The stage wise time schedule of completion of the project, including the provisions for civic infrastructure like water, sanitation and electricity.</li>
                          </ul>
                          
                          <p>The real estate sector has grown in the recent years but has largely been unregulated from the perspective of consumer protection. Though, consumer protection laws are available, the recourse available therein are only curative, but not preventive. Government of India has enacted the Real Estate (Regulation and Development) Act 2016 and all the sections of the Act have come into force with effect from May 1, 2017. The Bihar Real Estate (Regulation & Development) Rules 2017 (Including Agreement for Sale Rules) was notified by the Government of Bihar on April 28th, 2017. The Real Estate Regulatory Authority of Bihar will provide the platform for Registration of the Real Estate Projects with Promoter details and the Real Estate Agents. Apart from this it will also receive the complaints related to various stakeholders as given under the aforementioned act and the rules.</p></div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> The key components of Real Estate (Regulation and Development) Act, 2016 are as follows: </a> </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                  <div class="panel-body"> 
                                  <h5>Real Estate Regulatory Authority and Appellate Tribunal</h5>
                                  <p>Government of Bihar is the appropriate Government under the Act for the State of Bihar in terms of clause (g) of Section 2 of this Act. Exercising the power conferred by the third proviso to sub-section (1) of section 20 and first proviso to sub section (4) of section 43 of the Act, The Government of Bihar has designated The Principal Secretary, Urban development and Housing Department, Government of Bihar as the Regulatory Authority and The Bihar Land Tribunal, as the Appellate Tribunal respectively vide Notification nos. 348 & 349 and 346 & 347 dated 28th April 2017.</p>
                                  <p>The key responsibilities of the Authority shall be as follows:</p>
                                  <ul>
                                  <li>
                              Ensuring Disclosures of Real Estate Projects by Promoters</li>
                          <li>    Real Estate Projects Registration</li>
                              <li>Real Estate Agents Registration</li>
                              <li>Complaints Redressal
                          
                          </li>
                                  </ul>
                                  <p>The Appellate Tribunal will hear appeals from the decisions, directions or orders of the Real Estate Regulatory Authority. Any person aggrieved by any direction or decision or order made by the Authority or by an adjudicating officer may file an appeal before the Appellate Tribunal.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div id="div3" class="resp-tabs-container_in">
                        <h3>Organisational Structure</h3>
                      <div class="charmn_pic">
                        <img src="../../assets/images/chairman-pic.png" />

                      </div>
                    </div>
                    <div  id="div4" class="resp-tabs-container_in">
                      <div class="contctus">
                    <h3>Contact Us</h3>
                        <div class="contctus_in">
                            <div><strong>Real Estate Regulatory Authority</strong>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                        6th Floor,<br>
                        Bihar State Building Connstruction Corporation Campus
                        Hospital Road, Shastri Nagar, Patna - 800023<br>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        Phone Number: 0612-2291015<br>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        E-mail ID: <a href="mailto:rerabihar@gmail.com">rerabihar@gmail.com</a> | <a href="mailto:rera@bihar.gov.in">rera@bihar.gov.in</a> </p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d899.4859976039879!2d85.1025351054878!3d25.606777346660422!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x887f7b428e5c1dac!2sBSBCCL%20OFFICE!5e0!3m2!1sen!2sin!4v1655806145439!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div><strong>New Address for Complaint and Legal Section, RERA, Bihar </strong>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                            2nd floor,<br>
                            Telephone Exchanage Building,
                            BSNL, Patel Nagar,
                            Patna - 800023.<br>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            Phone Number: 0612-2291014<br>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            E-mail ID: <a href="mailto:rerabiharlegal@gmail.com">rerabiharlegal@gmail.com</a></p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d400.67719833402697!2d85.10220439474408!3d25.606262304996278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed578b6ba2b1b5%3A0x422aa0fea69deaab!2sBihar%20Real%20Estate%20Regulatory%20Authority!5e0!3m2!1sen!2sin!4v1655806276362!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>

            </div>
        </div>
    </div></div>


</div>


<app-footer></app-footer>
