.print{
    margin-top: 1%;
    margin-left: 43% !important;
}
.back{
    margin-top: 1%;
}

.form-group p {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-weight: 600;
}
