.prom_reg_in .mat-tab-label {
    background: #eee !important;
}
.personal_view_page h5 {
    margin: 0 0 20px;
    background: #f4f4f4;
    font-size: 18px;
    padding: 10px;
}
.personal_view_page strong {
    font-weight: bolder;
}
h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.pad-left-right-0{
    padding-left: 0px;
    padding-right: 0px;
}
.pointer{
    cursor: pointer;
    color: blue;
}
.mar-bot-15{
    margin-bottom: 15px;
}
.pad-lft-rgt-10{
    padding: 0px 10px;
}
.weight-500{
    font-weight: 500;
}