<notifier-container></notifier-container>
<div class="main-body">
  <div class="promot_regs preview_list">
    <div class="container">
      <div class="prom_reg_in">
        <div class="appl_no">
          <!-- <p>NAME- Project Application Registration Scrutiny Checklist</p> -->
        </div>
        <h3 class="header">Approval of Submitted Project</h3>
        <div class="app_hdng">
          <h2 class="userheader">Welcome {{username}}</h2>
          <p><strong>Project Name</strong> : &nbsp; {{projectname}}</p>
          <p><strong>Promoter Name</strong> : &nbsp; {{promotername}}</p>
          <p><strong>Application No.</strong> : &nbsp; {{applicationno}}</p>
          <p><strong>Date of Submission</strong> : &nbsp; {{submitiontime | date:'dd/MM/yyyy'}}</p>
          <p><strong>Application Approval Stage</strong> : &nbsp; {{username}}</p>
          <p><strong>Role </strong> : &nbsp; {{rolename}}</p>
        </div>
        <div *ngIf="stepworkid == 1" class="prom_reg_frm checklist">
          <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Promoter Profile" >
              <app-profile-view [userID]="userID"></app-profile-view>
            </mat-tab>
            <mat-tab label="Application Preview" >
              <app-project-details [projectId]="projectId" ></app-project-details>
            </mat-tab>
            <mat-tab class="" *ngFor="let step of tabs; let stepPos = index" label="{{step.tabname}}"
                     [disabled]="false">
              <div class="ckeckview tabletab" *ngFor="let tab of tabdetails; let i = index">
                <h5>{{tab.groupname}}</h5>
                <div *ngIf="!tab.isnested">
                  <div class="table-responsive">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  table-hover">
                      <tr>
                        <th align="left" valign="middle">SL No.</th>
                        <th align="left" valign="middle">Check List Item</th>
                        <th align="left" valign="middle">Information Provided by Promoter</th>
                        <th align="left" valign="middle">Verified by System</th>
                        <th align="left" valign="middle">System verification Result</th>
                        <!--<th align="left" valign="middle" *ngFor="let tab of tab.details[0].olddata;">{{tab.rolename}}
                          Attachment
                        </th>-->
                        <th align="left" valign="middle" *ngFor="let tab of tab.details[0].olddata;">{{tab.rolename}}
                          Observation
                        </th>
                        <th align="left" valign="middle">{{rolename}} Comment Yes/No</th>
                        <th align="left" valign="middle">{{rolename}} Observation</th>
                        <!--                      <th align="left" valign="middle">{{rolename}} Attachment</th>-->
                      </tr>
                      <tr *ngFor="let tabval of tab.details; let j = index">
                        <td align="left" valign="middle">{{j + 1}}</td>
                        <td align="left" valign="middle">{{tabval.checklistname}}</td>
                        <td align="left" *ngIf="tabval.showIcon == false" valign="middle">{{tabval.projectfieldvalue}}
                        </td>
                        <td align="left" *ngIf="tabval.showIcon == true" valign="middle"><a class="ved_eye"
                                                                                            (click)="openAttachment(tabval.projectfieldvalue)"
                                                                                            title="View Uploaded File"><i
                          class="fa fa-eye"></i></a></td>
                        <td align="left" valign="middle">
                          {{tabval.systemchecked}}
                        </td>
                        <td align="left" valign="middle" [ngClass]="tabval.systemchecked=='Yes'?'green':'red' ">
                          {{tabval.systemcheckedresult}}
                        </td>
                        <!--<td align="left" valign="middle" *ngFor="let tab1 of tabval.olddata;">

                          <a class="blue" (click)="openAttachment(tab1.filepath)">{{tab1.filedesc}}</a>
                        </td>-->
                        <td align="left" valign="middle" *ngFor="let tab1 of tabval.olddata;">
                          <textarea [(ngModel)]="tab1.comment" [disabled]="true">{{tab1.comment}}</textarea>
                        </td>
                        <td align="left" valign="middle">
                          <mat-radio-group [(ngModel)]="tabval.checklistcommentchecked">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="0">No</mat-radio-button>
                          </mat-radio-group>

                        </td>
                        <td align="left" valign="middle">
                          <textarea [(ngModel)]="tabval.comment">{{tabval.comment}}</textarea>
                        </td>
                        <!--<td align="left" valign="middle"><input class="form-control" type="file" id="file{{i}}"
                                                                style="padding-bottom: 37px;"
                                                                (change)="uploadFile($event,i,'c',j)"/></td>-->
                      </tr>
                      <!--<tr>
                        <td align="left" valign="middle">2</td>
                        <td align="left" valign="middle">Name of the bank</td>
                        <td align="left" valign="middle">State Bank of India</td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">
                          <div class="sle_ppr ">
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault03 " value="igotnten " onclick="view03(); ">
                              <label class="form-check-label " for="flexRadioDefault30 ">Yes </label>
                            </div>
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault04 " value="igotelev " onclick="view04(); ">
                              <label class="form-check-label " for="flexRadioDefault31 ">No</label>
                            </div>
                          </div>
                        </td>
                        <td align="left" valign="middle">
                          <textarea></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">3</td>
                        <td align="left" valign="middle">Account No.</td>
                        <td align="left" valign="middle">0123456789</td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">
                          <div class="sle_ppr ">
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault03 " value="igotnten " onclick="view03(); ">
                              <label class="form-check-label " for="flexRadioDefault30 ">Yes </label>
                            </div>
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault04 " value="igotelev " onclick="view04(); ">
                              <label class="form-check-label " for="flexRadioDefault31 ">No</label>
                            </div>
                          </div>
                        </td>
                        <td align="left" valign="middle">
                          <textarea></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">4</td>
                        <td align="left" valign="middle">IFSC Code</td>
                        <td align="left" valign="middle">SBIN00000</td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">
                          <div class="sle_ppr ">
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault03 " value="igotnten " onclick="view03(); ">
                              <label class="form-check-label " for="flexRadioDefault30 ">Yes </label>
                            </div>
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault04 " value="igotelev " onclick="view04(); ">
                              <label class="form-check-label " for="flexRadioDefault31 ">No</label>
                            </div>
                          </div>
                        </td>
                        <td align="left" valign="middle">
                          <textarea></textarea>
                        </td>
                      </tr>

                      <tr>
                        <td align="left" valign="middle">5</td>
                        <td align="left" valign="middle">Scan copy of Cancel Cheque/Passbook </td>
                        <td align="left" valign="middle"><a class="ved_eye" href="images/pan-card.jpg" target="_blank" title="View Uploaded File"><i class="fa fa-eye"></i></a></td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">
                          <div class="sle_ppr ">
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault03 " value="igotnten " onclick="view03(); ">
                              <label class="form-check-label " for="flexRadioDefault30 ">Yes </label>
                            </div>
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault04 " value="igotelev " onclick="view04(); ">
                              <label class="form-check-label " for="flexRadioDefault31 ">No</label>
                            </div>
                          </div>
                        </td>
                        <td align="left" valign="middle">
                          <textarea></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">6</td>
                        <td align="left" valign="middle">Account Holder Name is same as Project Name</td>
                        <td align="left" valign="middle">Hussain</td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">

                        </td>
                        <td align="left" valign="middle">
                          <div class="sle_ppr ">
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault03 " value="igotnten " onclick="view03(); ">
                              <label class="form-check-label " for="flexRadioDefault30 ">Yes </label>
                            </div>
                            <div class="form-check ">
                              <input class="form-check-input " type="radio" name="flexRadioDefault " id="flexRadioDefault04 " value="igotelev " onclick="view04(); ">
                              <label class="form-check-label " for="flexRadioDefault31 ">No</label>
                            </div>
                          </div>
                        </td>
                        <td align="left" valign="middle">
                          <textarea></textarea>
                        </td>
                      </tr>-->
                    </table>
                  </div>
                </div>
                <div *ngIf="tab.isnested">
                  <div class="ckeckview tabletab" *ngFor="let group of tab.details; let i = index">
                    <h5>{{group.groupposition + 1}}</h5>
                    <div class="table-responsive">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  table-hover">
                        <tr>
                          <th align="left" valign="middle">SL No.</th>
                          <th align="left" valign="middle">Check List Item</th>
                          <th align="left" valign="middle">Information Provided by Promoter</th>
                          <th align="left" valign="middle">Verified by System</th>
                          <th align="left" valign="middle">System verification Result</th>
                          <!--<th align="left" valign="middle" *ngFor="let tab of tab.details[0].olddata;">{{tab.rolename}}
                            Attachment
                          </th>-->
                          <th align="left" valign="middle"
                              *ngFor="let tab1 of group.details[0].olddata;">{{tab1.rolename}}
                            Observation
                          </th>
                          <th align="left" valign="middle">{{rolename}} Comment Yes/No</th>
                          <th align="left" valign="middle">{{rolename}} Observation</th>
                          <!--                      <th align="left" valign="middle">{{rolename}} Attachment</th>-->
                        </tr>
                        <tr *ngFor="let tabval of group.details; let j = index">
                          <td align="left" valign="middle">{{j + 1}}</td>
                          <td align="left" valign="middle">{{tabval.checklistname}}</td>
                          <td align="left" *ngIf="tabval.showIcon == false" valign="middle">{{tabval.projectfieldvalue}}
                          </td>
                          <td align="left" *ngIf="tabval.showIcon == true" valign="middle"><a class="ved_eye"
                                                                                              (click)="openAttachment(tabval.projectfieldvalue)"
                                                                                              title="View Uploaded File"><i
                            class="fa fa-eye"></i></a></td>
                          <td align="left" valign="middle">
                            {{tabval.systemchecked}}
                          </td>
                          <td align="left" valign="middle" [ngClass]="tabval.systemchecked=='Yes'?'green':'red' ">
                            {{tabval.systemcheckedresult}}
                          </td>
                          <!--<td align="left" valign="middle" *ngFor="let tab1 of tabval.olddata;">

                            <a class="blue" (click)="openAttachment(tab1.filepath)">{{tab1.filedesc}}</a>
                          </td>-->
                          <td align="left" valign="middle" *ngFor="let tab1 of tabval.olddata;">
                            <textarea [(ngModel)]="tab1.comment" [disabled]="true">{{tab1.comment}}</textarea>
                          </td>
                          <td align="left" valign="middle">
                            <mat-radio-group [(ngModel)]="tabval.checklistcommentchecked">
                              <mat-radio-button value="1">Yes</mat-radio-button>
                              <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>

                          </td>
                          <td align="left" valign="middle">
                            <textarea [(ngModel)]="tabval.comment">{{tabval.comment}}</textarea>
                          </td>
                          <!--<td align="left" valign="middle"><input class="form-control" type="file" id="file{{i}}"
                                                                  style="padding-bottom: 37px;"
                                                                  (change)="uploadFile($event,i,'c',j)"/></td>-->
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group button_dv pprov_btndv" *ngIf="selectedTabIndex-1 < tabs.length"
                   style="margin: 12px;">
                <button type="submit" class="btn btn-success" (click)="saveDetails()"><i class="fa fa-floppy-o"
                                                                                         aria-hidden="true"></i> Save
                </button>
                <!--                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i> Next </button>-->
              </div>
              <div class="form-group button_dv pprov_btndv" *ngIf="selectedTabIndex-1 == tabs.length && roletype !='2'">
                <div class="form-group col-sm-3">
                  <select class="custom-select nextSteps font-13" [(ngModel)]="nextstepid">
                    <option *ngFor="let b of nextSteps" [value]="b.id">{{b.stepname}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-primary radius-0 btn-block font-13"
                          (click)="changeStep(nextstepid)">
                    Send
                  </button>
                </div>
              </div>
              <div class="row " *ngIf="roletype=='2' && selectedTabIndex-1 == tabs.length ">
                <div class="col-sm-5">
                  <mat-radio-group [(ngModel)]="queryRadiobtn" (change)="radioChangeDetails()">
                    <mat-radio-button value="1">Promoter for clarification</mat-radio-button> &nbsp;
                    <mat-radio-button value="2">Further scrutiny</mat-radio-button> &nbsp;
                    <mat-radio-button value="3">Approval</mat-radio-button> &nbsp;
                  </mat-radio-group>
                </div>
                <div class="form-group col-sm-2" *ngIf="queryRadiobtn==2">
                  <select class="custom-select radius-0 font-13 form-control" [(ngModel)]="stepuserid">
                    <!--                      <option> Further scutny</option>-->
                    <option *ngFor="let b of stepusers" [value]="b.workflowuserid">{{b.username}}</option>
                  </select>

                </div>

                <div class="form-group col-sm-2" *ngIf="queryRadiobtn==3">
                  <select class="custom-select radius-0 font-13 form-control" [(ngModel)]="stepid">
                    <!--                      <option> Approval</option>-->
                    <option *ngFor="let b of steps" [value]="b.id">{{b.stepname}}</option>
                  </select>

                </div>

                <div class="col-sm-2" *ngIf="queryRadiobtn==2 ">
                  <button type="button" class="btn btn-primary btn-block radius-0 font-13"
                          (click)="onStepChangeWithUserDetails()">
                    Send
                  </button>
                </div>
                <div class="col-sm-2" *ngIf="queryRadiobtn==3">
                  <button type="button" class="btn btn-primary btn-block radius-0 font-13" (click)="changeStep(stepid)">
                    Send
                  </button>
                </div>
                <div class="col-sm-2" *ngIf="queryRadiobtn==1">
                  <button type="button" class="btn btn-primary btn-block radius-0 font-13" (click)="goToPromoter()">
                    Send
                  </button>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </div>
        <div *ngIf="stepworkid == 2" class="prom_reg_frm">
          <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex1" (selectedTabChange)="onTabChange1($event)">
            <mat-tab label="Promoter Profile" >
              <app-profile-view [userID]="userID"></app-profile-view>
            </mat-tab>
            <mat-tab label="Application Preview">
              <app-project-details [projectId]="projectId" ></app-project-details>
            </mat-tab>
            <mat-tab label="Checklist Details">
              <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex"
                             (selectedTabChange)="onTabChange($event)">
                <mat-tab class="" *ngFor="let step of tabs; let stepPos = index" label="{{step.tabname}}"
                         [disabled]="false">
                  <div class="ckeckview tabletab" *ngFor="let tab of tabdetails; let i = index">
                    <h5>{{tab.groupname}}</h5>
                    <div *ngIf="!tab.isnested">
                      <div class="table-responsive">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  table-hover">
                          <tr>
                            <th align="left" valign="middle">SL No.</th>
                            <th align="left" valign="middle">Check List Item</th>
                            <th align="left" valign="middle">Information Provided by Promoter</th>
                            <th align="left" valign="middle">Verified by System</th>
                            <th align="left" valign="middle">System verification Result</th>
                            <th align="left" valign="middle"
                                *ngFor="let tab of tab.details[0].olddata;">{{tab.rolename}}
                              Observation
                            </th>
                            <th align="left" valign="middle" *ngIf="roletype == 4">{{rolename}} Comment Yes/No</th>
                            <th align="left" valign="middle" *ngIf="roletype == 4">{{rolename}} Observation</th>
                          </tr>
                          <tr *ngFor="let tabval of tab.details; let j = index">
                            <td align="left" valign="middle">{{j + 1}}</td>
                            <td align="left" valign="middle">{{tabval.checklistname}}</td>
                            <td align="left" *ngIf="tabval.showIcon == false"
                                valign="middle">{{tabval.projectfieldvalue}}
                            </td>
                            <td align="left" *ngIf="tabval.showIcon == true" valign="middle"><a class="ved_eye"
                                                                                                (click)="openAttachment(tabval.projectfieldvalue)"
                                                                                                title="View Uploaded File"><i
                              class="fa fa-eye"></i></a></td>
                            <td align="left" valign="middle">
                              {{tabval.systemchecked}}
                            </td>
                            <td align="left" valign="middle" [ngClass]="tabval.systemchecked=='Yes'?'green':'red' ">
                              {{tabval.systemcheckedresult}}
                            </td>
                            <td align="left" valign="middle" *ngFor="let tab1 of tabval.olddata;">
                              <textarea [(ngModel)]="tab1.comment" [disabled]="true">{{tab1.comment}}</textarea>
                            </td>
                            <td align="left" valign="middle" *ngIf="roletype == 4">
                              <mat-radio-group [(ngModel)]="tabval.checklistcommentchecked">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                              </mat-radio-group>

                            </td>
                            <td align="left" valign="middle" *ngIf="roletype == 4">
                              <textarea [(ngModel)]="tabval.comment">{{tabval.comment}}</textarea>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div *ngIf="tab.isnested">
                      <div class="ckeckview tabletab" *ngFor="let group of tab.details; let i = index">
                        <h5>{{group.groupposition + 1}}</h5>
                        <div class="table-responsive">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  table-hover">
                            <tr>
                              <th align="left" valign="middle">SL No.</th>
                              <th align="left" valign="middle">Check List Item</th>
                              <th align="left" valign="middle">Information Provided by Promoter</th>
                              <th align="left" valign="middle">Verified by System</th>
                              <th align="left" valign="middle">System verification Result</th>
                              <th align="left" valign="middle"
                                  *ngFor="let tab1 of group.details[0].olddata;">{{tab1.rolename}}
                                Observation
                              </th>
                              <th align="left" valign="middle" *ngIf="roletype == 4">{{rolename}} Comment Yes/No</th>
                              <th align="left" valign="middle" *ngIf="roletype == 4">{{rolename}} Observation</th>
                            </tr>
                            <tr *ngFor="let tabval of group.details; let j = index">
                              <td align="left" valign="middle">{{j + 1}}</td>
                              <td align="left" valign="middle">{{tabval.checklistname}}</td>
                              <td align="left" *ngIf="tabval.showIcon == false"
                                  valign="middle">{{tabval.projectfieldvalue}}
                              </td>
                              <td align="left" *ngIf="tabval.showIcon == true" valign="middle"><a class="ved_eye"
                                                                                                  (click)="openAttachment(tabval.projectfieldvalue)"
                                                                                                  title="View Uploaded File"><i
                                class="fa fa-eye"></i></a></td>
                              <td align="left" valign="middle">
                                {{tabval.systemchecked}}
                              </td>
                              <td align="left" valign="middle" [ngClass]="tabval.systemchecked=='Yes'?'green':'red' ">
                                {{tabval.systemcheckedresult}}
                              </td>
                              <td align="left" valign="middle" *ngFor="let tab1 of tabval.olddata;">
                                <textarea [(ngModel)]="tab1.comment" [disabled]="true">{{tab1.comment}}</textarea>
                              </td>
                              <td align="left" valign="middle" *ngIf="roletype == 4">
                                <mat-radio-group [(ngModel)]="tabval.checklistcommentchecked">
                                  <mat-radio-button value="1">Yes</mat-radio-button>
                                  <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group>

                              </td>
                              <td align="left" valign="middle" *ngIf="roletype == 4">
                                <textarea [(ngModel)]="tabval.comment">{{tabval.comment}}</textarea>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="false">
                    <div class="form-group button_dv pprov_btndv" *ngIf="selectedTabIndex+1 < tabs.length"
                         style="margin: 12px;">
                      <button type="submit" class="btn btn-success" (click)="saveDetails()"><i class="fa fa-floppy-o"
                                                                                               aria-hidden="true"></i>
                        Save
                      </button>
                      <!--                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i> Next </button>-->
                    </div>
                    <div class="form-group button_dv pprov_btndv" *ngIf="selectedTabIndex+1 == tabs.length">
                      <div class="form-group col-sm-3">
                        <select class="custom-select nextSteps font-13" [(ngModel)]="nextstepid">
                          <option *ngFor="let b of nextSteps" [value]="b.id">{{b.stepname}}</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <button type="button" class="btn btn-primary radius-0 btn-block font-13"
                                (click)="changeStep(nextstepid)">
                          Send
                        </button>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab label="Queries Raised">
              <div class="tab-header" *ngFor="let query of querydetails;let i=index;">
                <h5>{{query.roledesc}}</h5>
                <div class="tabletab qreye" *ngFor="let q of query.details;let j=index;">
                  <div class="table-responsive">
                    <ul>
                      <li>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                               class="table  table-striped table-hover">
                          <tr>
                            <th align="left" valign="middle">SL No.</th>
                            <th align="left" valign="middle">Query Details</th>
                            <th align="left" valign="middle">Document Required</th>
                            <!--                            <th align="left" valign="middle">Attachment</th>-->
                            <th align="left" valign="middle">Comments</th>
                            <th align="left" valign="middle">Time to Respond (Days)</th>

                            <!-- <th align="left" valign="middle" *ngIf="roletype=='2'">Valid Query ?</th>
                            <th align="left" valign="middle" *ngIf="roletype=='2'">Approve ?</th>-->
                          </tr>
                          <tr>
                            <td align="left" valign="middle">{{j + 1}}</td>
                            <td align="left" valign="middle">{{q.query}} <br><span class="blue">{{q.dateofquery |
                              date:'medium'}}<br></span>
                              <span><strong>{{q.username}} </strong> ({{q.roledesc}})</span>
                            </td>
                            <td align="label" valign="middle"> {{q.docrequired}} </td>
                            <!--<td align="left" valign="middle"><a class="ved_eye" href="images/pan-card.jpg"
                                                                target="_blank" title="View Uploaded File"><i
                              class="fa fa-eye"></i></a></td>-->
                            <td align="left" valign="middle">{{q.comments}} </td>
                            <td align="left" valign="middle">{{q.permissibletime}}</td>
                            <!-- <td *ngIf="roletype=='2'&& q.isvalidquery ===0 " align="center" valign="middle"><a
                              (click)="invalidateQuery(q,1)"><i
                              class="fa fa-check text-success"></i></a></td> -->
                            <!-- <td *ngIf="roletype=='2'&& q.isvalidquery ===1 " align="center" valign="middle"></td>
                            <td *ngIf="roletype=='2'&& q.queryresolved ===0 " align="center" valign="middle"><a
                              (click)="workflowStepResolvedQuery(q,1)"><i
                              class="fa fa-check text-success"></i></a></td> -->
                          </tr>
                        </table>
                        <h5 class="com_ac_tncy">Comment against Query <span class="ac_rj">Comment Accept/Reject</span>
                        </h5>
                        <ul *ngFor="let c of q.details;">
                          <li>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="table  table-striped table-hover">

                              <tr>
                                <td align="left" valign="middle" width="8%">&nbsp;</td>
                                <td align="left" valign="middle" width="35%">
                                  <div class="reply_an">
                                    <strong *ngIf="c.type==1">{{c.roledesc}}'s Answer :</strong> <span *ngIf="c.type==1"
                                                                                                       class="black">{{c.dateofanswer | date:'medium'}}</span>
                                    <strong *ngIf="c.type!=1">{{c.roledesc}}'s Comment : </strong><span
                                    *ngIf="c.type!=1" class="black">{{c.dateofanswer | date:'medium'}}</span><br>
                                    <span><strong *ngIf="c.type!=1">{{c.username}} </strong> ({{c.roledesc}})</span>
                                    <p>{{c.answer}}</p>
                                  </div>
                                </td>
                                <td align="label" valign="middle" width="12%">&nbsp;</td>
                                <td [hidden]="c.filepath == null || c.filepath == '' " align="left" valign="middle"
                                    width="20%"><a class="black"
                                                   (click)="openAttachment(c.filepath)"><i
                                  class="fa fa-file-image-o"
                                  aria-hidden="true"></i> {{c.filedesc}}</a>
                                </td>
                                <td align="left" valign="middle" width="10%"></td>
                                <td *ngIf="roletype=='2'" align="left" valign="middle" width="10%"></td>
                              </tr>
                            </table>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="qeyy">

                          <div class="textDetails">
                            <label *ngIf="roletype==1" class=" font-16">Enter Answer </label>
                            <label *ngIf="roletype !=1" class=" font-16">Enter Comment </label>

                            <textarea type="text" [(ngModel)]="q.usercomments" class="form-control"
                                      placeholder="Enter details (max 1000 characters)"></textarea>
                          </div>
                          <div class="fileUpload">
                            <label>&nbsp;</label>
                            <input class="form-control" type="file" (change)="uploadFile($event,i,'q',j)"
                                   accept="image/jpeg,image/png,application/pdf,image/x-eps">
                          </div>
                          <div class="submitBtn">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary radius-0 font-13" (click)="addComment(i,j,q)">
                              Submit
                            </button>
                          </div>
                        </div>
                        <div class="row commentBtm">
                          <div class="col-sm-3 submitBtn" *ngIf="roletype=='2'">
                          </div>
                          <div class="col-sm-3 submitBtn" *ngIf="roletype=='2' && q.isvalidquery ===0">
                            <button type="button" class="btn btn-primary radius-0 font-13"
                                    (click)="invalidateQuery(q,1)">
                              Valid Query
                            </button>
                          </div>
                          <div class="col-sm-3 submitBtn" *ngIf="roletype=='2' && q.queryresolved ===0">
                            <button type="button" class="btn btn-success radius-0 font-13"
                                    (click)="workflowStepResolvedQuery(q,1)">
                              Approve
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="blank-msg" *ngIf="querydetails.length ===0">
                No query found till now for this project
              </div>
              <br class="clear">
              <div class="form-group button_dv pprov_btndv" *ngIf="roletype == '1'">
                <!--                <button type="submit" class="btn btn-success" onclick="window.location.href='legal-intern.html'"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Send to legal intern </button>-->
                <!-- <button *ngFor="let b of nextSteps" type="button" class="btn btn-primary"
                        (click)="moveWorkflow(b.id)">
                  <i
                    class="fa fa-arrow-right" aria-hidden="true"></i> {{b.stepname}}</button> -->
                <!--                    <label class="form-label nextStepsLebel"> Send to</label>-->
                <div class="form-group col-sm-3">
                  <select class="custom-select nextSteps radius-0 font-13" [(ngModel)]="stepid">
                    <option *ngFor="let b of nextSteps" [value]="b.id">{{b.stepname}}</option>
                  </select>

                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-primary btn-block radius-0 font-13" (click)="onStepChange()">
                    Send
                  </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Raise a query" *ngIf="roletype != '1'">
              <div class="tabletab qreye">
                <div class="table-responsive">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0"
                         class="table  table-striped table-hover">
                    <tr>
                      <th align="left" valign="middle" width="5%">SL No.</th>
                      <th align="left" valign="middle" width="35%">Query Details</th>
                      <th align="left" valign="middle" width="15%">Document Required</th>
                      <th align="left" valign="middle" width="25%">Comments</th>
                      <th align="left" valign="middle" width="20%">Time to Respond (Days)</th>
                      <th align="left" valign="middle" width="5%"></th>
                    </tr>
                    <tr *ngFor="let query of queries;let i=index;">
                      <td align="left" valign="middle">{{i + 1}}.</td>
                      <td align="left" valign="middle" width="35%"><textarea [(ngModel)]="query.query"></textarea></td>
                      <td align="label" valign="middle">
                        <div class="sle_ppr ">
                          <mat-radio-group [(ngModel)]="query.docsrequired">
                            <mat-radio-button value="1">Yes</mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button value="0">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </td>
                      <td align="center" valign="middle" width="25%"><input class="form-control" type="text"
                                                                            [(ngModel)]="query.docs"/></td>
                      <!--<td align="left" valign="middle" width="10%"><input class="form-control" type="file" id="file{{i}}"
                                                                          style="padding-bottom: 37px;" (change)="uploadFile($event,i,'q')"/></td>-->
                      <td align="center" valign="middle" width="15%"><input class="form-control" type="text"
                                                                            [(ngModel)]="query.time" placeholder=""/>
                      </td>
                      <td align="center" valign="middle" class="pad-top-19"><a class="font-18"
                                                                               (click)="deleteQuery(i)"><i
                        class="fa fa-times text-danger"></i></a></td>
                    </tr>
                  </table>
                </div>
                <button class="btn btn-primary pull-right radius-0 font-13 mb-2" *ngIf="!canApprove"
                        (click)="addMoreQuery()"><i
                  class="fa fa-plus" aria-hidden="true "></i> Add More
                </button>
                <div class="clear"></div>

                <div class="row ">
                  <div class="col-sm-5" *ngIf="roletype=='2' && !canApprove && !isRejected">
                    <mat-radio-group [(ngModel)]="queryRadiobtn" (change)="radioChange()">
                      <mat-radio-button value="1">Promoter for clarification</mat-radio-button> &nbsp;
                      <mat-radio-button value="2">Further scrutiny</mat-radio-button> &nbsp;
                      <mat-radio-button value="3">Approval</mat-radio-button> &nbsp;
                    </mat-radio-group>
                  </div>
                  <div class="form-group col-sm-2" *ngIf="queryRadiobtn==2">
                    <select class="custom-select radius-0 font-13 form-control" [(ngModel)]="stepuserid">
                      <!--                      <option> Further scutny</option>-->
                      <option *ngFor="let b of stepusers" [value]="b.workflowuserid">{{b.username}}</option>
                    </select>

                  </div>

                  <div class="form-group col-sm-2" *ngIf="queryRadiobtn==3">
                    <select class="custom-select radius-0 font-13 form-control" [(ngModel)]="stepid">
                      <!--                      <option> Approval</option>-->
                      <option *ngFor="let b of steps" [value]="b.id">{{b.stepname}}</option>
                    </select>

                  </div>

                  <div class="col-sm-2" *ngIf="queryRadiobtn==2 ">
                    <button type="button" class="btn btn-primary btn-block radius-0 font-13"
                            (click)="onStepChangeWithUser()">
                      Send
                    </button>
                  </div>
                  <div class="col-sm-2" *ngIf="queryRadiobtn==3">
                    <button type="button" class="btn btn-primary btn-block radius-0 font-13" (click)="onStepChange()">
                      Send
                    </button>
                  </div>
                  <div class="col-sm-2" *ngIf="queryRadiobtn==1">
                    <button type="button" class="btn btn-primary btn-block radius-0 font-13"
                            (click)="goToPromoterQuery()">
                      Send
                    </button>
                  </div>
                  <div class="col-sm-6" *ngIf="roletype=='3' ">
                    <mat-radio-group [(ngModel)]="queryChairRadiobtn" (change)="radioChangeChair()">
                      <mat-radio-button value="1">Approve Application</mat-radio-button> &nbsp;
                      <mat-radio-button value="2">Reject Application</mat-radio-button> &nbsp;
                      <mat-radio-button value="3">Send for further verification</mat-radio-button> &nbsp;
                    </mat-radio-group>
                  </div>
                  <div class="form-group col-sm-4" *ngIf="changeRole">
                    <select class="custom-select radius-0 font-13 form-control" [(ngModel)]="stepid">
                      <option *ngFor="let b of nextSteps" [value]="b.id">{{b.stepname}}</option>
                    </select>

                  </div>
                  <div class="col-sm-2" *ngIf="changeRole">
                    <button type="button" class="btn btn-primary btn-block radius-0 font-13" (click)="onStepChange()">
                      Send
                    </button>
                  </div>

                  <div class="form-group col-sm-4"
                       *ngIf="queryChairRadiobtn == '1' || queryChairRadiobtn == '2' || canApprove|| isRejected ">
                    <textarea class="form-control" [(ngModel)]="approvalComment"
                              placeholder="Enter Comment (max 1000 characters)"></textarea>
                  </div>
                  <div class="col-sm-2" *ngIf="queryChairRadiobtn == '1' || queryChairRadiobtn == '2' ">
                    <button type="button" class="btn btn-primary btn-block radius-0 font-13" (click)="approval()">
                      Send
                    </button>
                  </div>

                  <div class="col-sm-2" *ngIf="canApprove || isRejected">
                    <button type="button" class="btn btn-success btn-block radius-0 font-13"
                            (click)="approval()">
                      <span *ngIf="canApprove ">Issue Certificate</span>
                      <span *ngIf="isRejected">Publish Reject</span>
                    </button>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!--<mat-tab label="Action Trail" >
              <table width="100%" border="0" cellspacing="0" cellpadding="0"
                     class="table  table-striped table-hover">
                <tr>
                  <th align="left" valign="middle">SL No.</th>
                  <th align="left" valign="middle">Step</th>
                  <th align="left" valign="middle">Date</th>
                </tr>
                <tr *ngFor="let history of stephistory;let i=index">
                  <td align="left" valign="middle">{{i + 1}}</td>
                  <td align="left" valign="middle">{{history.fromstep}} &ndash;&gt; {{history.tostep}}</td>
                  <td align="left" valign="middle">{{history.dateoftransfer | date:'medium'}}</td>
                </tr>
              </table>
            </mat-tab>-->
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modal>
  <div class=" modal-content ">
    <div class="modal-header">
      <button type="button" class="btn-close" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body">

      <div class="mb-3">
        <label class="form-label">Enter Comment:</label>
        <textarea type="text" class="form-control" [(ngModel)]="approvalComment"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary" (click)="approval()">Send
      </button>
    </div>
  </div>
</ng-template>
