.container{
  max-width: 1280px;
}

.prom_reg_in{
  padding: 20px, 0;
}

.tabsName{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.table-hover >  tr:hover {
  background-color: #D2D2D2;
}

/* .ckeckview table td {
  text-align: left;
  vertical-align: middle;
}

.ckeckview table th {
  text-align: left;
  vertical-align: middle;
  font-weight: 600;
} */

.header{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    color: inherit;
    text-align: center;
    margin-bottom: 20px;
}

.userheader{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    color: inherit;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 34%;
}

.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px;
  color: black !important;
  font-weight: 600 !important;
  float: left !important;
}


.app_hdng p{
  margin-bottom: 0;
}
.tab-header h5 {
  margin: 0 0 20px;
  background: #f4f4f4;
  font-size: 18px;
  padding: 10px;
}

.blank-msg{
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  color: red;
}

.main-body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

/* .tabletab{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 16px;
} */

.nextSteps {
  height: calc(2.5em + 0.75rem + 2px);
}
.nextStepsLebel{
    font-size: 25px;
    line-height: 2.0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 2%;
}

.qeyy{
  display: flex;
}
.textDetails{
  width: 40%;
}
.textDetails textarea{height: 80px;}
.fileUpload{
  width: 30%;
  margin: 0 10px;
}
.fileUpload input{display: block; height: auto;}
.submitBtn {
  width: 15%;
}
.submitBtn button{    width: 100%;
  border-radius: 5px;
  font-size: 14px;
}

.reply_an {
  background: url(../../../assets/images/breadcrumb-chevron-right.svg) 0px 0px no-repeat;
  padding-left: 20px;
}

a.black {
  color: black;
}

 .mat-tab-group {
  font-family: 'Poppins', sans-serif !important;
}

.userheader{
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  color: inherit;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 37%;
}

.commentBtm{
  margin: 16px 0;
}
.pad-top-19{
  padding-top: 19px;
}
.font-18{
  font-size: 18px;
}
