.print{
    margin-top: 1%;
    background-color: #b32f3b;
    margin-left: 43% !important;
}
.back{
    margin-top: 1%;
}

.form-group p {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.table td, .table th {
    padding: 0.3rem !important;
}
