<div class="main-body">
    <div class="container">
        
            <div class="page-in-sec">
                <div class="row">
            <!-- <div class="col-md-3">
                <nav class='animated bounceInDown'>
                    <ul class="asidenav">
                        <li> <a href="javascript:void(0)">By Authority <div class='fa fa-caret-down right'></div></a>
                            <ul class="asidenav">
                                <li> <a href="#div1">Order</a></li>
                                <li> <a href="#div2">interim</a></li>
                            </ul>
                        </li>
                        <li> <a href="javascript:void(0)">By AO <div class='fa fa-caret-down right'></div></a>
                                <ul class="asidenav">
                                    <li> <a href="#div1">Order</a></li>
                                    <li> <a href="#div2">interim</a></li>
                                </ul>
                        </li>                            
                        <li> <a href="#div3">Conciliation Form</a></li>
                        <li> <a href="#div4">significant-judgement</a></li>
                    </ul>
                </nav>
                </div> -->
                <div class="col-md-12">
                <div id="container_div" class="resp-tabs-container">
                    
                    <div id="" class="resp-tabs-container_in" style="display: block;">
                        <h3>Interim</h3>
                        <div class="table-responsive what_new">
                          <table class="table table-bordered table-striped">
                            <tbody>
                              <tr>
                                <th align="center" valign="middle">Sl No.</th>
                                <th align="left" valign="middle">Complainant No.</th>
                                <th align="left" valign="middle">Complainant Name</th>
                                <th align="left" valign="middle">Complaint Type</th>
                                <th align="left" valign="middle">Respondent Name</th>
                                <th align="left" valign="middle">Project Reg No.</th>
                                <th align="left" valign="middle">Project District Name</th>
                                <th align="left" valign="middle">Judgement Date</th>
                                <th align="left" valign="middle">Bench Type</th>
                                <th align="center" valign="middle" style="text-align:center;">View File</th>
                              </tr>
                              <tr>
                                <td align="center" valign="middle">1</td>
                                <td align="left" valign="middle">CC/990/2021</td>
                                <td align="left" valign="middle">Rakhi Pandey</td>
                                <td align="left" valign="middle">Complaint Type</td>
                                <td align="left" valign="middle">M/s Agrani Homes Pvt. ltd.</td>
                                <td align="left" valign="middle">Project Reg No.</td>
                                <td align="left" valign="middle">Patna</td>
                                <td align="left" valign="middle">07-06-2022</td>
                                <td align="left" valign="middle">Bench Type</td>
                                <td align="center" valign="middle"><a href="https://rera.bihar.gov.in/Order/CC%201022%202021.pdf" target="_blank"><i class="fa fa-eye" style="font-size:18px;"></i></a></td>
                              </tr>
                              
                              </tbody>
                              </table>  
                          
                          
                          </div>
                          
                    </div>
                    <div id="div3" class="resp-tabs-container_in active" style="display: none;">
                        <h3>Bihar REAL Estate Regulatory Authority (General) Regulation, 2021</h3>
                        <div class="act_rul_pdf">
                            <iframe src="images/pdf/RERA-Gazette.pdf"></iframe>
                         </div>
                    </div>
                    
                    
                    
                  </div>

            </div>
        </div>
    </div></div>


</div>