<div class="footer_sec">
    <div class="foot_top">
        <div class="container">
            <div class="foot_top_in">
                <div class="foot_lnk addrse">
                    <h3>
                        {{'Contact Details' | translate}}
                    </h3>
                    <p class="foot_adr">6th Floor, Bihar State Building Construction Corporation Campus Hospital Road, Shastri Nagar, Patna - 800023</p>
                    <p class="foot_adr">Ground & 2nd  Floor, Telephone Exchange Building, BSNL, Patel Nagar, Patna - 800023.</p>
                    <p class="foot_cont">{{'Telephone' | translate}} : 0612-2291015</p>
                    <p class="foot_cont">{{'Telephone' | translate}} : 0612-2291014</p>
                </div>
                <div class="foot_lnk addrse">
                    <h3>&nbsp;</h3>
                    <p class="foot_eml">{{'Department email ID' | translate}} : <br>
                        <a style="display: block;" href="mailto:inforera@bihar.com">rerabihar@gmail.com</a>
                        <a href="mailto:rera@bihar.gov.in">rera@bihar.gov.in</a>
                    </p>
                    <p class="foot_eml">{{'Legal and Complaints email ID' | translate}} : <br><a href="mailto:rerabiharlegal@gmail.com">rerabiharlegal@gmail.com</a></p>
                    <p class="foot_eml">{{'Report Unregistered Project at' | translate}} : <br><a href="mailto:rera.reportproject@gmail.com">rera.reportproject@gmail.com</a></p>
                    <p class="foot_eml">{{'Registration and QPR' | translate}} : <br><a href="mailto:reg.rerabihar@gmail.com">reg.rerabihar@gmail.com</a></p>
                </div>
                <!--<div class="foot_lnk scn_lnk">
                    <h3>{{'About Us' | translate}}</h3>
                    <ul>
                        <li><a href="">{{'Vision & Mission' | translate}}</a></li>
                        <li><a href="">{{'Transparency' | translate}}</a></li>
                        <li><a href="">{{'Non-Compliance & Penalties' | translate}}</a></li>
                        <li><a href="">{{"Chairman's Message" | translate}}</a></li>
                        <li><a href="javascript:void(0)" (click)="goToContact()">{{'Contact Us' | translate}}</a></li>
                    </ul>
                </div>
                <div class="foot_lnk thr_lnk">
                    <h3>{{'Quick Links' | translate}}</h3>
                    <ul>
                        <li><a href="">{{'Copyright Policy' | translate}}</a></li>
                        <li><a href="">{{'RTI Links' | translate}}</a></li>
                        <li><a href="">{{'Feedback' | translate}}</a></li>
                        <li><a href="">{{'Disclaimer' | translate}}</a></li>
                    </ul>
                    <img src="assets/images/footer-logo.png"/>
                </div>-->
                <div class="foot_lnk fot_logo">
                    <!--<h3>{{'Subscribe for Newsletter' | translate}}</h3>
                    <div class="newsltt">
                        <form>
                            <input type="text" class="form-control" placeholder="{{'Enter Email ID' | translate}}"/>
                            <button class="btn btn-success">{{'Subscribe' | translate}}</button>
                        </form>
                    </div>-->
                    <img src="assets/images/rera-logo.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_rit">
        <div class="container">
            <p>
                <span>&copy;{{'Real Estate Regulatory Authority (RERA) Bihar,' | translate}}</span> {{'Govt. of Bihar. All Rights Reserved' | translate}}
            </p>
            <p>{{'Page last updated on: 21-04-2022' | translate}} | {{'Visitor: 13591' | translate}}</p>
        </div>
    </div>
    <!-- <div class="vister_sec">
  <div class="container">
  <p>Page last updated on: 21-04-2022 | Visitor: 13591</p>
  </div>
  </div> -->
</div>

