.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    margin-right: 12%;
}

.map-frame {
    border: 1px solid black;
    height: 100%;
}

#map {
    height: 100%;
}





/* html, body {
    height: 100%;
    margin: 0;
} */

.leaflet-container {
    max-width: 100%;
    max-height: 100%;
}

#map { width: 800px; height: 500px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }


.google-view-btn{
    position: absolute;
    z-index: 9999;
    bottom: 3px;
    left: 3px;
    border-radius: 7px;
    background-color: #1c009dfc;
    color: white !important;
    font-weight: 500;
}