.container {
  /* background: #D3D3D3; */
  border: 0;
  width: 40%;
  height: 40%;
}
.login-sec {
  padding: 0px 30px;
  position: absolute;
  top: 20%;
  right: 2%;
  width: 500px;

}
.login-form{background: #faf9f7; padding: 40px 20px 20px;}
button.btn.btn-success.log_bt {
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  width: 150px;
}
.login-block > img {
  width: 100%;
  height: 100%;
  position: absolute;
}
section.login-block {
  padding: 0;
}
.log-hdr{display: flex; align-items: center}
.log-hdr strong{
  background: #faf9f7;
  height: 100px;
  line-height: 100px;
  font-size: 1.5rem;
  padding: 0 70px 0;
  font-weight: 400;
}
.log-hdr img{width: 100px;background: #faf9f7;
  border-radius: 0 50% 50% 0;}
.login-sec input.form-control {
  height: 46px;
}

.span_error{
  color: red;
}

