.sign_dv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.prom_sign {
    text-align: center;
}

.view-mod p{
    background: unset;
    font-weight: 500;
    display: inline-block;
}
.view-mod label{
    display: inline !important;
}
.weight-500{
    font-weight: 500 !important;
}