ul#row2 li::after {
    background: url("../../../assets/images/list-close.png") 0 0 no-repeat;
    background-size: auto;
    content: "";
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
    height: 12px;
    background-size: 100%;
}
.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url(../../../assets/images/t01.png) -800px -800px no-repeat;
    _background: none;
}
.jssora05r {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../../../assets/images/a17.png) no-repeat;
    overflow: hidden;
}
.proj_documnt_innr {
    background: url(../../../assets/images/project-document-bg.jpg) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    padding: 134px 30px;
}