@media only screen and (max-width: 1024px) {
    .nav-secn.head-menu-part.sticky {
        position: relative;
    }
    .container {
        max-width: 98%;
    }
    .srce_sec {
        width: 260px;
    }
    #cssmenu {
        width: 100%;
    }
    .socle {
        width: 240px;
    }
    .mbre span {
        width: 50px;
        height: 50px;
    }
    .rera_txte {
        font-size: 22px;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
    }
    #cssmenu.align-center>ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover>ul>li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
    }
    #cssmenu>ul>li,
    #cssmenu.align-center>ul>li,
    #cssmenu.align-right>ul>li {
        float: none;
        display: block;
    }
    #cssmenu ul ul li a {
        padding: 20px 20px 20px 30px;
        font-size: 12px;
        color: #000000;
        background: none;
    }
    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li a:hover {
        color: #000000;
    }
    #cssmenu ul ul ul li a {
        padding-left: 40px;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu>ul>li.has-sub>a::after,
    #cssmenu ul ul li.has-sub>a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #cssmenu #menu-button {
        display: block;
        padding: 20px;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
    #cssmenu #menu-button::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 20px;
        display: block;
        width: 15px;
        height: 2px;
        background: #fff;
    }
    #cssmenu #menu-button::before {
        content: '';
        position: absolute;
        top: 15px;
        right: 20px;
        display: block;
        width: 15px;
        height: 7px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 52px;
        width: 52px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }
    .col-lg-12.top_prr {
        display: flex;
    }
    .mainto {
        margin-left: 22%;
    }
    #cssmenu ul {
        width: 300px;
        position: absolute;
        background: #064B99;
        right: 0;
        z-index: 99;
    }
    .regs_in_co p {
        font-size: 18px;
        line-height: 24px;
    }
    .regs_in_co strong {
        font-size: 42px;
    }
    .regs_in span {
        width: 90px;
        height: 90px;
        padding: 10px;
    }
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 900px) {
    .carousel_latest_news.owl-carousel .owl-nav button.owl-next,
    .carousel_imp_notic.owl-carousel .owl-nav button.owl-next {
        right: 0px;
        opacity: 0.5;
    }
    .carousel_latest_news.owl-carousel .owl-nav button.owl-prev,
    .carousel_imp_notic.owl-carousel .owl-nav button.owl-prev {
        left: 0px;
        opacity: 0.5;
    }
    .proj_regs {
        background-size: cover;
    }
}

@media only screen and (max-width: 769px) {
    .log_bge {
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem;
    }
}

@media only screen and (max-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media only screen and (max-width: 767px) {
    .regs_in {
        width: 48%;
        margin: 10px 0;
    }
    .catgery_sec_in {
        width: 48%;
        margin: 0 3px 90px;
    }
    .latest_news {
        padding-bottom: 20px;
    }
    .footer_sec {
        padding: 30px 0;
    }
    .foot_lnk.fot_logo,
    .foot_lnk,
    .foot_lnk.addrse {
        width: 48%;
    }
}

@media only screen and (max-width: 600px) {
    .proj_regs_in {
        display: block;
    }
    .regs_in {
        width: 98%;
        margin: 10px auto;
        display: block;
    }
    .regs_in span {
        display: block;
        margin: 0 auto 10px;
    }
    .regs_in_co {
        margin: 0 0 20px;
        text-align: center;
    }
    .catgery_sec_in {
        width: 98%;
        margin: 0 auto 10px;
    }
    .foot_lnk.fot_logo,
    .foot_lnk,
    .foot_lnk.addrse {
        width: 100%;
    }
    .foot_lnk.fot_logo img {
        display: none;
    }
    .foot_lnk.thr_lnk>img {
        display: block;
        margin: 0 auto;
    }
    .foot_lnk.fot_logo {
        order: 1;
    }
    .foot_lnk.addrse {
        order: 2;
    }
    .foot_lnk.scn_lnk {
        order: 3;
    }
    .foot_lnk.thr_lnk {
        order: 4;
    }
}