    @charset "utf-8";
    /* CSS Document */

    body {
        font-family: 'Poppins', sans-serif;
        background: #f5f5f5;
        color: #071219;
        font-size: 14px;
        line-height: 16px;
    }

    .clear {
        clear: both;
        padding: 0;
        margin: 0;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    a:focus,
    input:focus,
    textarea:focus,
    button:focus {
        outline: 0 !important;
    }

    .container h2 {
        font-size: 33px;
        font-weight: 600;
        color: #252222;
        line-height: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #061223;
        font-size: 15px;
        line-height: 30px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    /*header section css*/

    .tofst {
        background: #fff;
        border-bottom: 1px solid #c5c5c5;
    }

    .tofst p {
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        font-weight: 300;
    }

    .socle {
        text-align: left;
        width: 230px;
    }

    .socle strong {
        display: inline-block;
        color: #090909;
        font-weight: 500;
    }

    .socle li {
        display: inline-block;
    }

    .socle ul {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    .top_se_in {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .logn_sc {
        display: flex;
    }

    .text_siz {
        border-left: 1px solid #c5c5c5;
        padding: 0 20px;
        border-right: 1px solid #c5c5c5;
    }

    .srce_sec {
        border-left: 1px solid #c5c5c5;
        padding-left: 20px;
        position: relative;
        width: 320px;
        display: flex;
    }

    .lang {
        width: 100px;
        text-align: center;
    }

    .lang.eng li:nth-child(2) {
        display: none;
    }

    .lang.hind li:nth-child(1) {
        display: none;
    }

    .lang li a,
    .lang strong {
        font-weight: 500;
        cursor: pointer;
        color: #000;
    }

    .lang li a:hover {
        text-decoration: none;
    }

    .text_siz button {
        border: 0;
        padding: 2px;
        width: 30px;
        height: 30px;
        background: transparent;
        cursor: pointer;
    }

    .text_siz button:nth-child(1) {
        font-size: 12px;
    }

    .text_siz button:nth-child(3) {
        font-size: 20px;
    }

    .text_siz button.active {
        background: #ebebeb;
        border-radius: 50%;
    }

    .srce_sec input {
        border: 0;
        padding: 0 10px;
        width: 100%;
    }

    .srce_sec button {
        border: 0;
        background: #efefef;
        width: 34px;
        height: 33px;
        cursor: pointer;
        color: #eb6d11;
        padding: 0px;
    }

    .srce_sec button i {
        color: #eb6d11;
    }

    .logn_sc a.login_btn {
        background: #eb6d11;
        color: #fff;
        border: 0;
        text-transform: uppercase;
        padding: 7px 20px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .logn_sc a.login_btn i {
        font-size: 20px;
        line-height: 16px;
        display: inline-block;
        margin: 0 5px 0 0;
        vertical-align: middle;
    }

    .lon_bn_hv {
        position: relative;
    }

    .lon_bn_hv li {
        display: block;
        padding: 0;
    }

    .lon_bn_hv li a {
        display: block;
        color: #000;
        padding: 6px 6px;
        font-size: 14px;
    }

    .lon_bn_hv li a:hover {
        text-decoration: none;
        background: #b7b7b7;
        color: #fff;
    }

    .lon_bn_hv ul {
        background: #fff;
        box-shadow: 0 0 5px #ccc;
        position: absolute;
        top: 26px;
        width: 100%;
        display: none;
    }

    .lon_bn_hv:hover ul {
        display: block;
    }

    .logn_sc a.signup_btn {
        background: #2B5FD5 url(src/assets/images/sign-up-icon.png) 15px center no-repeat;
        color: #fff;
        border: 0;
        text-transform: uppercase;
        padding: 7px 20px 7px 44px;
        letter-spacing: 1px;
        cursor: pointer;
        margin-left: 1px;
    }

    .logn_sc a.login_btn:hover {
        background-color: #9f5607;
        text-decoration: none;
    }

    .logn_sc a.signup_btn:hover {
        background-color: #064B7B;
        text-decoration: none;
    }

    .socle li a {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        color: #fff;
        display: block;
        text-align: center;
    }

    .socle li a i {
        padding-top: 4px;
    }

    .socle li.fbk a {
        background: #3a589b;
    }

    .socle li.twtr a {
        background: #32b4f1;
    }

    .socle li.istg a {
        background: #007bb5;
    }

    .rera_txte {
        font-size: 35px;
        color: #ee1e1e;
        font-weight: 600;
        text-align: center;
    }

    .rera-logo.home-pg img {
        width: 88%;
    }

    .rera-logo img {
        width: 73%;
    }

    .logo_rt {
        display: flex;
        align-items: center;
        width: 84%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: auto;
    }

    .rera-logo.home-pg {
        position: relative;
        background: #fff;
        margin-top: -28px;
    }

    .rera-logo {
        position: relative;
        background: #fff;
        margin-top: 0px;
    }

    .head_midd {
        padding: 0;
        background: #fff;
    }

    .head_midd .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .mbre {
        text-align: center;
    }

    .mbre span {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        display: block;
        border: 3px solid #eb6d11;
        overflow: hidden;
        margin: 0 auto;
    }

    .mbre img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .mbre strong {
        display: block;
        font-size: 13px;
        line-height: 14px;
        color: #ee1e1e;
        padding: 5px 0;
        letter-spacing: 1px;
    }

    .mbre p {
        display: block;
        font-size: 11px;
        line-height: 5px;
        color: #221e1e;
        padding: 0;
    }

    #cssmenu {
        margin: 0 auto;
    }

    .logo_sc {
        float: left;
    }

    .mainto {
        float: right;
        padding-top: 9px;
    }

    .mainto a {
        color: #071219;
        padding: 5px 0 5px 28px;
        /*background: url(src/assets/images/mailto.png) 0 center no-repeat;*/
    }

    .nav-secn {
        padding: 0px 0;
        background: #2B5FD5;
    }
    /*menu section css*/

    #cssmenu,
    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul li a,
    #cssmenu #menu-button {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #cssmenu:after,
    #cssmenu>ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #cssmenu #menu-button {
        display: none;
    }

    #cssmenu {
        width: auto;
        line-height: 1;
        position: relative;
        z-index: 99;
    }

    #cssmenu>ul>li {
        display: inline-block;
        vertical-align: middle;
    }

    #cssmenu.align-center>ul {
        font-size: 0;
        text-align: center;
    }

    #cssmenu.align-center>ul>li {
        display: inline-block;
        float: none;
    }

    #cssmenu.align-center ul ul {
        text-align: left;
    }

    #cssmenu.align-right>ul>li {
        float: right;
    }

    #cssmenu.align-right ul ul {
        text-align: right;
    }

    #cssmenu>ul>li>a {
        padding: 0px 18px;
        font-size: 16px;
        line-height: 50px;
        text-decoration: none;
        color: #fff;
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
    }

    #cssmenu>ul>li:hover>a,
    #cssmenu>ul>li.active>a {
        color: #fbb572;
    }

    #cssmenu>ul>li.has-sub>a {
        padding-right: 23px;
    }

    #cssmenu>ul>li.has-sub>a::after {
        position: absolute;
        top: 19px;
        right: 10px;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        content: "";
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: border-color 0.2s ease;
        -moz-transition: border-color 0.2s ease;
        -ms-transition: border-color 0.2s ease;
        -o-transition: border-color 0.2s ease;
        transition: border-color 0.2s ease;
    }

    #cssmenu>ul>li.has-sub:hover>a::after {
        border-color: #fff;
    }

    #cssmenu ul ul {
        position: absolute;
        top: 50px;
        left: -9999px;
        z-index: 9;
        padding: 0 0;
        background: rgba(17, 84, 187, 0.9);
    }

    #menu-line {
        position: absolute;
        bottom: -19px;
        left: 0;
        height: 6px;
        display: none !important;
        background: #0e3871;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    #cssmenu li:hover>ul {
        left: auto;
    }

    #cssmenu.align-right li:hover>ul {
        right: 0;
    }

    #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0;
        padding-top: 0;
    }

    #cssmenu.align-right ul ul ul {
        margin-left: 0;
        margin-right: 100%;
    }

    #cssmenu ul ul li {
        -webkit-transition: height .2s ease;
        -moz-transition: height .2s ease;
        -ms-transition: height .2s ease;
        -o-transition: height .2s ease;
        transition: height .2s ease;
    }

    #cssmenu ul ul li a {
        padding: 10px 20px;
        width: 230px;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: #fff;
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
        border-bottom: 1px dashed #6381ec;
        display: block;
    }

    #cssmenu ul li:nth-child(2) ul li a {
        width: 320px;
    }

    #cssmenu ul li:nth-child(5) ul li a {
        width: 220px;
    }

    #cssmenu ul li:nth-child(9) ul li a {
        width: 190px;
    }

    #cssmenu>ul>li:last-child:hover>ul {
        right: 0;
        left: inherit;
    }

    #cssmenu ul ul ul li a {
        width: 150px;
    }

    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li a:hover {
        color: #fff;
        background: #0135AB;
    }

    #cssmenu ul ul li.has-sub>a::after {
        position: absolute;
        top: 13px;
        right: 10px;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        content: "";
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: border-color 0.2s ease;
        -moz-transition: border-color 0.2s ease;
        -ms-transition: border-color 0.2s ease;
        -o-transition: border-color 0.2s ease;
        transition: border-color 0.2s ease;
    }

    #cssmenu.align-right ul ul li.has-sub>a::after {
        right: auto;
        left: 10px;
        border-bottom: 0;
        border-right: 0;
        border-top: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

    #cssmenu ul ul li.has-sub:hover>a::after {
        border-color: #ffffff;
    }
    /*banner section css*/

    .banner-part .container {
        position: relative;
    }

    .wt_nws {
        background: #eb6d11;
        overflow: hidden;
    }

    .banner-part .container-fluid {
        background: rgba(73, 112, 189, 0.8);
    }

    .whats_new {
        position: absolute;
        top: 0px;
        right: 0px;
        /* background: rgba(73, 112, 189, 0.8); */
        padding: 10px 20px;
        width: 100%;
        /* height: 360px; */
        overflow: hidden;
    }

    .whats_new li {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        background: url(src/assets/images/news-arrow3.png) 16px 10px no-repeat;
        padding: 7px;
        line-height: 22px;
    }
    /* .whats_new {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
} */
    /* .whats_new h2 {
    color: #fff;
    font-size: 18px;
    padding: 0px;
    font-weight: 600;
    background-size: 24px;
    margin-bottom: 0;
} */

    .whats_new h2 {
        color: #fff;
        font-size: 32px;
        background: url(src/assets/images/news-icon.png) 14px center no-repeat;
        padding: 0;
        font-weight: 600;
        margin: 10px 0;
    }

    .carousel_whatsnews {
        overflow: hidden;
        width: 100%;
    }
    /* .carousel_whatsnews {
    overflow: hidden;
    width: 80%;
} */

    .carousel_whatsnews {
        overflow: hidden;
    }

    .carousel_whatsnewsin li,
    .whatsnews_in {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        padding: 7px;
        line-height: 22px;
    }
    /* .whats_new a {
    text-decoration: none;
    color: #fff;
    text-align: center;
} */
    /* .whats_new a:hover {
    text-decoration: none;
} */

    .whats_new a:hover {
        background: #000;
        color: #fff;
    }

    .ban_caro .sdvs img {
        width: 100%;
    }

    .sticky {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        border-top: 0;
        box-shadow: 0 0 5px #ccc;
    }

    .banner-secn img {
        width: 100%;
    }

    .banner-secn .container {
        position: relative;
        z-index: 9;
    }

    .centered-btns_nav.centered-btns1_nav.prev,
    .centered-btns_nav.centered-btns1_nav.next {
        display: none;
    }

    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rslides li {
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

    .rslides li:first-child {
        position: relative;
        display: block;
        float: left;
    }

    .rslides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }
    /* what news section */
    /* what news section end */
    /*category section css*/

    .catgery_sec_in {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px #bababa;
        width: 22%;
        position: relative;
    }

    .catgery_sec .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px 0;
        /* margin: -87px auto 0; */
        margin: 0 auto 0;
    }

    .whats_new a {
        background: #fff;
        text-decoration: none;
        color: #000;
        padding: 8px 10px;
        text-align: center;
        margin: 5px 0 5px auto;
        display: block;
        width: 100px;
    }
    /* .catgery_sec .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 60px 0;
} */

    .cat_top {
        text-align: center;
    }

    .cat_top span {
        display: block;
        padding: 16px;
        width: 98px;
        margin: -50px auto 0;
        border-radius: 10px;
        position: relative;
        z-index: 99;
    }

    .cat_top strong {
        color: #252222;
        font-size: 20px;
        font-weight: 600;
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
        margin: 20px auto;
    }

    .cat_top button {
        background: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 auto -14px;
    }

    .grne .cat_top span {
        background: #22be59;
    }

    .blu .cat_top span {
        background: #2B5FD5;
    }

    .rde .cat_top span {
        background: #ec0000;
    }

    .ylow .cat_top span {
        background: #ffde2f;
    }

    .grne .cat_top button {
        border: 2px solid #22be59;
    }

    .blu .cat_top button {
        border: 2px solid #2B5FD5;
    }

    .rde .cat_top button {
        border: 2px solid #ec0000;
    }

    .ylow .cat_top button {
        border: 2px solid #ffde2f;
    }

    .grne .cat_top {
        border-top: 6px solid #22be59;
    }

    .blu .cat_top {
        border-top: 6px solid #2B5FD5;
    }

    .rde .cat_top {
        border-top: 6px solid #ec0000;
    }

    .ylow .cat_top {
        border-top: 6px solid #ffde2f;
    }

    .catgery_sec {
        position: relative;
        z-index: 9;
    }

    .catgery_sec_in_ho {
        background: #f0f1f2;
        padding: 40px 10px 10px;
        position: absolute;
        width: 100%;
        top: 20px;
        display: none;
        transition: all 0.45s ease 0s;
        z-index: 9;
        box-shadow: 0 0 10px #ccc;
    }

    .catgery_sec_in_ho>ul>li {
        position: relative;
    }

    .grne .catgery_sec_in_ho>ul>li:hover {
        background: #22be59;
    }

    .grne .catgery_sec_in_ho>ul>li>ul>li:hover {
        background: #7bc495;
    }

    .blu .catgery_sec_in_ho>ul>li>ul>li:hover {
        background: #2B5FD5;
    }

    .blu .catgery_sec_in_ho>ul>li:hover {
        background: #2B5FD5;
    }

    .ylow .catgery_sec_in_ho>ul>li>ul>li:hover {
        background: #e6ce4f;
    }

    .ylow .catgery_sec_in_ho>ul>li:hover {
        background: #ffde2f;
    }

    .rde .catgery_sec_in_ho>ul>li>ul>li:hover {
        background: #ed7c78;
    }

    .rde .catgery_sec_in_ho>ul>li:hover {
        background: #ed4e4b;
    }

    .grne .catgery_sec_in_ho>ul>li>ul>li a:hover,
    .grne .catgery_sec_in_ho>ul>li a:hover,
    .blu .catgery_sec_in_ho>ul>li>ul>li a:hover,
    .blu .catgery_sec_in_ho>ul>li a:hover,
    .ylow .catgery_sec_in_ho>ul>li>ul>li a:hover,
    .ylow .catgery_sec_in_ho>ul>li a:hover,
    .rde .catgery_sec_in_ho>ul>li>ul>li a:hover,
    .rde .catgery_sec_in_ho>ul>li a:hover {
        color: #fff;
        filter: brightness(0) invert(1);
    }

    .catgery_sec_in_ho>ul>li>ul {
        background: #f0f1f2;
        padding: 0px;
        position: absolute;
        right: -200px;
        top: 0;
        transition: all 0.45s ease 0s;
        display: none;
        width: 210px;
        box-shadow: 0 0 10px #ccc;
    }

    .catgery_sec_in_ho>ul>li>ul>li {
        position: relative;
    }

    .any_src {
        position: absolute;
        background: #f0f1f2;
        padding: 10px;
        right: -160px;
        top: 0;
        width: 170px;
        display: none;
    }

    .any_src input[type="text"] {
        width: 100%;
        padding: 5px;
    }

    .catgery_sec_in_ho>ul>li>ul>li>a {
        display: block;
        color: #252222;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 1px dashed #bbb5b5;
        padding: 10px;
    }

    .catgery_sec_in_ho>ul>li:hover ul {
        display: block;
    }

    .catgery_sec_in_ho>ul>li>ul>li:hover .any_src {
        display: block;
    }

    .catgery_sec_in:hover .catgery_sec_in_ho {
        transition: all 0.45s ease 0s;
        display: block;
    }

    .any_src .oka {
        position: absolute;
        right: 11px;
        top: 11px;
        color: #fff;
        background: #252222;
        padding: 9px;
    }

    .any_src a.oka:hover {
        background: #252222 !important;
        color: #fff !important;
        filter: inherit !important;
    }

    .catgery_sec_in_ho>ul>li>a {
        display: block;
        color: #252222;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 1px dashed #bbb5b5;
        padding: 10px;
    }

    .catgery_sec_in_ho>ul>li>ul>li>a>i,
    .catgery_sec_in_ho>ul>li>a i {
        padding-right: 9px;
    }

    .catgery_sec_in_ho ul li:last-child a {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .catgery_sec_in_ho>ul>li:hover a {
        text-decoration: none;
    }
    /*map section css*/

    .map_sec {
        background-color: #fff;
        background-image: url(src/assets/images/cat-bg1.png), url(src/assets/images/cat-bg2.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 0 100%, 100% 100%;
        padding: 50px 0 50px;
        background-size: 290px, 400px;
    }

    .map_sec .container {
        width: 1100px;
    }

    .map_pi img {
        width: 90%;
    }

    .map_pi .scale {
        margin-top: 50px;
    }

    .map_pi .scale img {
        width: auto;
        display: block;
        margin: 0 auto 0;
    }

    .regst_data h2 {
        background: #2B5FD5 url(src/assets/images/regstr-icon.png) 10px center no-repeat;
        color: #fff;
        font-size: 23px;
        padding: 20px 20px 20px 80px;
        display: flex;
        justify-content: space-between;
    }

    .regst_data h2 strong {
        font-weight: 700;
    }

    .regst_data_ls li {
        color: #252222;
        font-size: 20px;
        line-height: 38px;
        padding: 5px 0;
        overflow: hidden;
    }

    .regst_data_ls li i {
        padding-right: 14px;
        display: inline-block;
        font-size: 22px;
    }

    .regst_data_ls li strong {
        font-weight: 600;
        float: right;
    }

    .regst_data {
        position: relative;
    }

    .regst_data::before {
        content: "";
        position: absolute;
        height: 300px;
        border-left: 1px solid #c4c5c6;
        left: -48px;
        top: 90px;
    }
    /*Project data section css*/

    .proj_regs {
        background: url(src/assets/images/count-bg.png) 0 0 no-repeat;
        background-size: 100%;
        padding: 50px 0;
    }

    .regs_in span {
        display: block;
        background: #09357e;
        border-radius: 5px;
        width: 120px;
        text-align: center;
        height: 110px;
        padding: 20px 0;
    }

    .proj_regs_in {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /* .regs_in {
	display: flex;
	width: 330px;
} */

    .regs_in {
        display: flex;
        width: 23%;
    }

    .regs_in_co {
        margin: 0 0 0 20px;
    }

    .regs_in_co strong {
        font-size: 50px;
        line-height: 54px;
        font-weight: 600;
        color: #FFF;
    }

    .regs_in_co p {
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
        color: #FFF;
    }
    /*important notice section css*/

    .imp_notic_in {
        box-shadow: 0 0 10px #bababa;
        margin: 10px 0;
        padding: 20px;
        background: #fff;
        min-height: 228px;
    }

    .imp_notic_in p {
        color: #252222;
        font-size: 16px;
        line-height: 26px;
    }

    .imp_notic_in span {
        background: #ee810c;
        color: #fff;
        font-size: 13px;
        padding: 5px;
        line-height: 18px;
        display: block;
        width: 110px;
        text-align: center;
        border-radius: 6px;
        margin-bottom: 30px;
    }

    .imp_notic {
        padding: 0 10px;
    }

    .carousel_latest_news.owl-carousel .owl-nav button.owl-next span,
    .carousel_imp_notic.owl-carousel .owl-nav button.owl-next span {
        background: url(src/assets/images/lat-news-icn2.png) 0 0 no-repeat;
        width: 56px;
        height: 56px;
        display: block;
        font-size: 0;
    }

    .carousel_latest_news.owl-carousel .owl-nav button.owl-prev span,
    .carousel_imp_notic.owl-carousel .owl-nav button.owl-prev span {
        background: url(src/assets/images/lat-news-icn1.png) 0 0 no-repeat;
        width: 56px;
        height: 56px;
        display: block;
        font-size: 0;
    }

    .carousel_latest_news.owl-carousel .owl-nav button.owl-next,
    .carousel_imp_notic.owl-carousel .owl-nav button.owl-next {
        position: absolute;
        top: 40%;
        right: -48px;
    }

    .carousel_latest_news.owl-carousel .owl-nav button.owl-prev,
    .carousel_imp_notic.owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        top: 40%;
        left: -60px;
    }

    .imp_notic {
        padding: 50px 0;
        background: url(src/assets/images/lat-news-bg.png) 0 0 no-repeat;
        background-size: cover;
    }

    .latest_news h2,
    .imp_notic h2 {
        text-align: center;
        margin: 30px 0;
        text-transform: uppercase;
    }
    /*latest news section css*/

    .latest_news {
        background: #fff url(src/assets/images/news-lat-bg.png) 0 100% no-repeat;
        background-size: 100%;
        padding-bottom: 100px;
        border-top: 2px solid #fff;
        position: relative;
        background-attachment: fixed;
    }
    /* .latest_news::before {
    background: #fff url(src/assets/images/news-lat-bg.png) 0 140% no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100%;
    height: 100%;
    opacity: 0.5;
} */

    .latst_new_in {
        position: relative;
        box-shadow: 0 0 10px #bababa;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }

    .latst_new_in span {
        background: #ee810c;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        padding-top: 5px;
    }

    .latst_new_in p {
        font-size: 18px;
        line-height: 28px;
        padding: 10px 0;
        color: #252222;
        text-align: center;
    }

    .latst_new_in span strong {
        display: block;
        font-size: 22px;
        line-height: 22px;
        padding: 2px 0 5px;
    }

    .latst_new_in a {
        background: #ee810c;
        width: 130px;
        display: block;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        font-weight: 600;
        margin: 10px auto;
        padding: 10px 0;
        text-transform: capitalize;
    }

    .latst_new_in a:hover {
        text-decoration: none;
        background: #9f5607;
    }
    /*footer section css*/

    .footer_sec {
        background: url(src/assets/images/footer-bg.png) center 100px no-repeat;
        background-size: cover;
        padding: 100px 0 30px;
        background-attachment: fixed;
    }

    .foot_adr {
        background: url(src/assets/images/locn-foot.png) 0 10px no-repeat;
    }

    .foot_lnk.thr_lnk>img {
        display: none;
    }

    .foot_cont {
        background: url(src/assets/images/locn-foot2.png) 0 6px no-repeat;
        margin: 20px 0;
    }

    .foot_eml {
        background: url(src/assets/images/locn-foot3.png) 0 6px no-repeat;
    }

    .foot_lnk h3 {
        color: #fff;
        font-size: 22px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .foot_lnk li a {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        padding: 5px 0 5px 30px;
        /* background: url(src/assets/images/foot-list-icn.png) 0 center no-repeat; */
        margin: 6px 0;
        display: inline-block;
        background-size: 10px;
        position: relative;
    }

    .foot_lnk li a:hover {
        color: #ee810c;
        text-decoration: none;
    }

    .foot_lnk li a::before {
        content: "";
        border-left: 10px solid #ee810c;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        position: absolute;
        left: 0;
        top: 6px;
    }

    .foot_lnk p {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        padding: 10px 0 10px 60px;
    }

    .foot_lnk {
        width: 21%;
    }

    .foot_lnk.fot_logo {
        width: 26%;
        text-align: center;
    }

    .foot_lnk.fot_logo img {
        width: auto;
        margin: 20px auto 0;
        display: block;
    }

    .foot_lnk.addrse {
        width: 28%;
        margin-right: 20px;
    }

    .foot_top_in {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .foot_lnk p a {
        color: #fff;
    }

    .copy_rit {
        margin: 40px 0 0px;
    }

    .copy_rit p {
        color: #fff;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }

    .vister_sec p {
        color: #fff;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }

    .copy_rit p span {
        color: #ee810c;
    }

    #toTop {
        position: fixed;
        bottom: 5px;
        right: 0;
        display: none;
        width: 44px;
        height: 44px;
        cursor: pointer;
        z-index: 99999;
    }

    #toTop img {
        width: 100%;
        height: auto;
    }

    .newsltt button {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 5px 5px 0;
    }

    .newsltt form {
        position: relative;
    }

    .copy_rit .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .newsltt form input.form-control {
        font-size: 14px;
        line-height: 25px;
    }
    /* Promoter Registration css */

    .promot_regs {
        padding: 20px 0;
    }

    .prom_reg_in h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 22px;
    }

    .prom_inr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        padding: 0 0 40px;
    }

    .prom_inr_no {
        padding-bottom: 30px;
        position: relative;
    }

    .prom_inr_com {
        width: 32%;
        margin-bottom: 14px;
        position: relative;
    }

    .prom_inr_com label {
        padding-bottom: 1px;
        width: 100%;
        position: relative;
    }

    .prom_inr_com label button {
        position: absolute;
        right: 0;
        top: -18px;
        color: #fff;
    }

    .prom_inr.otp_dv {
        display: block;
        text-align: center;
        width: 200px;
        margin: 10px auto 0;
    }

    .prom_inr.otp_dv .prom_inr_com {
        width: 100%;
    }

    .button_dv button {
        display: block;
        margin-left: 10px;
    }

    .rget {
        text-align: center;
        margin: 0 auto;
    }

    .rget button {
        margin: 0 auto;
    }

    .otp_dv button a,
    .rget button a {
        color: #fff;
    }

    .otp_dv button a:hover,
    .rget button a:hover {
        text-decoration: none;
    }

    .rgstpg .prom_reg_frm {
        background-color: #fff;
        padding: 20px;
    }

    select.form-control,
    .prom_inr_com .form-control {
        height: 46px;
    }

    .form-group.button_dv {
        position: absolute;
        right: 0px;
        bottom: -5px;
        margin: 0 0 0;
        display: flex;
    }

    .not {
        display: inline-block;
        padding: 0;
        margin: -40px 0 0;
    }

    .eror_fiel {
        color: #f00;
        display: block;
        padding-top: 5px;
    }
    /* Project register css*/

    .prom_inr.forget_rgst a {
        margin: 20px 0;
        display: block;
    }

    .form-group.forget_rgst {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .form-group.forget_rgst a {
        padding: 10px;
        margin: 0;
        display: inline-block;
    }

    .form-group.forget_rgst button a {
        padding: 0 10px;
        margin: 0;
        color: #fff;
        display: inline-block;
    }

    .form-group.forget_rgst button {
        display: block;
        margin: 0 auto 10px;
    }

    .forget_field_pass {
        text-align: center;
    }

    .forget_fiel strong {
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding: 5px 0;
    }

    .prom_inr_com.form-group.forget_fiel {
        width: 460px;
        margin: 0 auto;
    }

    .prom_inr_com.form-group.forget_fiel p {
        padding-bottom: 10px;
    }

    .prom_inr_com.form-group.forget_fiel button {
        margin-top: 20px;
    }

    .prom_inr_com.form-group.forget_fiel button a {
        color: #fff;
    }

    .prj_typ {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px 0 30px;
    }

    .prj_typ button {
        margin: 0 10px;
    }

    .sle_ppr {
        display: flex;
    }

    .prom_inr_com .sle_ppr .form-check {
        display: flex;
        align-items: center;
        margin-right: 30px;
        margin-top: 0px;
    }

    .prom_inr_com .sle_ppr label {
        padding: 0;
        margin-top: 5px;
    }

    h4.hdngs {
        background: #e4e4e4;
        padding: 10px;
        font-size: 18px;
        margin: 0 0 20px;
    }

    .typ_add_mor {
        display: block;
        position: relative;
        width: 100%;
    }

    .typ_add_mor h5 {
        font-size: 16px;
    }

    .typ_add_mor button {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        cursor: pointer;
    }

    .typ_add_mor {
        display: block;
        position: relative;
        background: #f4f4f4;
        margin: 0 0 10px;
        padding: 10px 10px;
    }

    .chk_docm .form-check-label {
        display: inline-block;
        vertical-align: middle;
        padding: 4px 0 0;
    }

    .chk_docm {
        margin-bottom: 20px;
    }

    .dev_tabl {
        width: 100%;
    }

    .dev_tabl td input {
        width: 200px;
        border: 0;
    }

    .resp-tabs-container h5 {
        margin: 0 0 20px;
        background: #f4f4f4;
        font-size: 18px;
        padding: 10px;
    }

    .dev_tabl table th {
        font-size: 16px;
        font-weight: 500;
        background: #f3f3f3;
    }

    .qurter_date_dv {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }

    .qurter_date_dv .prom_inr_com {
        width: 47%;
    }

    .payment_dv {
        text-align: center;
        width: 100%;
    }

    .payment_dv p {
        text-align: center;
        padding: 20px 0;
    }

    .resp-tabs-container .typ_add_mor h5 {
        padding: 0;
        margin: 0;
    }

    .blding_wrk_bld,
    .dev_wrk_bld {
        width: 100%;
    }

    .prom_inr_dv .prom_inr_com {
        margin: 0 auto;
    }

    button.btn.btn-serc {
        position: absolute;
        top: 26px;
        right: 1px;
        height: 44px;
        cursor: pointer;
    }

    .declrt .prom_inr_com.form-group.chk_docm {
        margin-bottom: 40px;
        width: 100%;
    }

    .declrt .prom_inr_com.form-group.chk_docm .form-check {
        margin: 10px 0;
    }

    .declrt .prom_inr_com.form-group.chk_docm .form-check .form-check-label {
        line-height: 24px;
    }

    .declrt .form-check-input {
        margin-top: 10px;
        margin-right: 10px;
    }

    .forget_rgst label.form-check-label {
        color: #007bff;
        line-height: 21px;
    }

    .forget_rgst .form-check {
        margin: 26px 0 10px;
    }
    /* marque css */

    .tagline,
    .tagline a {
        color: #aaa;
        text-decoration: none;
    }

    ul.container {
        width: 100%;
    }

    ul.container li {
        background: #f7f7f7;
        color: #ddd;
        list-style-type: none;
        padding: 1em;
        margin: 0;
        transition: background-color 0.5s;
    }

    ul.container li:nth-child(2) {
        color: #f00;
    }
    /* marque css end */

    .dev_tabl td:last-child i {
        cursor: pointer;
    }

    .dev_tabl td:last-child i.fa.fa-check {
        color: #22be59;
    }

    .dev_tabl td:last-child i.fa.fa-times {
        color: #ee1e1e;
    }

    .dev_tabl td input[type="text"] {
        width: 280px;
        padding: 10px 5px;
    }

    .dev_tabl td {
        vertical-align: middle;
    }

    .dev_tabl td input[type="date"] {
        width: 150px;
        padding: 10px 5px;
    }

    .file_comp {
        text-align: center;
    }

    .file_comp button a {
        color: #fff;
    }

    .file_accom {
        text-align: center;
    }

    .file_accom a {
        color: #fff;
    }

    .sle_ppr.proj_lo {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 220px;
        justify-content: space-evenly;
        margin: 30px auto;
    }

    #div5 .prom_inr {
        padding-block: 0;
    }
    /* login page css */

    .log_bge {
        background: #5b6be2 url(src/assets/images/Group-2220.png) center top no-repeat;
    }

    .log_fme p {
        font-size: 18px;
        padding: 20px 0;
    }

    .abt_rra {
        color: #fff;
        font-size: 14px;
        line-height: 30px;
    }

    .logi_dv_pg {
        padding: 20px 0;
    }

    .dnt_hvac button {
        margin-left: 20px;
    }

    .cap_cre {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .cap_cre input.form-control {
        width: 100px;
        margin: 0 0 0 10px;
    }

    .text-center.pt-1.mb-5.pb-1.cap_cre_dv {
        margin-bottom: 20px !important;
        padding: 0;
    }

    .cap_cre_dv p {
        padding-bottom: 5px;
    }

    .logi_dv .text-muted {
        clear: both;
        display: block;
    }
    /* login page css end */

    .profl {
        margin-bottom: 20px;
        text-align: right;
        position: relative;
    }

    .prom_reg_in {
        position: relative;
    }

    .profl.open .prof_div.dropdown-menu {
        display: block;
        padding: 0;
        left: inherit;
        right: 0;
    }

    .profl>a {
        font-size: 16px;
        color: #061223;
    }

    .profl>a:hover {
        text-decoration: none;
    }

    .profl>a>i {
        padding-right: 5px;
    }

    .doc_lste li {
        font-size: 12px;
    }

    .hide {
        display: none;
    }

    .prof_div.dropdown-menu .dropdown-item {
        font-size: 14px;
        padding: 0 10px;
        height: 32px;
        line-height: 32px;
    }

    .prof_div.dropdown-menu .dropdown-item i {
        padding: 0 5px 0 0;
    }

    .prof_div.dropdown-menu .dropdown-item:hover {
        background: gray;
        color: #fff;
    }

    .btn-group.open .dropdown-menu {
        display: block;
    }

    .select_pom.btn-group .dropdown-toggle::after {
        display: none;
    }

    .select_pom.btn-group .dropdown-toggle {
        color: #000;
        background-clip: padding-box;
        border: 1px solid #8e9494;
        border-radius: 0.25rem;
        height: 46px;
    }

    .select_pom.btn-group label {
        display: block;
    }

    .select_pom.btn-group {
        display: block;
    }

    .dev_tabl.ongoing_proj {
        background: #fff;
        padding: 20px;
    }

    .ongoing_proj h5 {
        margin: 0 0 20px;
        background: #f4f4f4;
        font-size: 18px;
        padding: 10px;
    }

    .ongoing_proj table th,
    .ongoing_proj table td {
        text-align: center;
    }

    .geog_lt>div {
        width: 48%;
    }

    .geog_lt {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .prom_inr_com.form-group.onedv {
        width: 100%;
    }

    .prom_inr_com textarea.form-control.arehig {
        height: 100px !important;
    }

    .doc_lists li {
        font-size: 13px;
        padding: 0 0 0 0;
        margin: 5px 0 0;
        color: green;
        overflow: hidden;
    }

    .doc_lists li i.fa-check {
        padding-left: 10px;
    }

    .doc_lists li i.fa-times {
        color: red;
        float: right;
        cursor: pointer;
    }

    .outr_wit_dv {
        background: #fff;
        padding: 20px;
    }

    .sle_ppr.payment_opt label .fa.fa-credit-card-alt {
        font-size: 40px;
    }

    .sle_ppr.payment_opt label img {
        width: 80px;
    }

    .payment-info {
        padding: 2em 2.5em;
        background: #fff;
        border: 1px solid #e7ebee;
        width: 577px;
        margin: 0 auto;
    }

    .payment-info h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px;
    }

    .payment-info h5 {
        color: #435964;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 0 8px 0;
        font-weight: 600;
        background: none;
    }

    .payment-info .swit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .payment-info .swit .check_box {
        width: 48%;
        text-align: left;
    }

    .payment-info input[type="text"],
    .payment-info .tab-for input[type="text"] {
        width: 96%;
        padding: 8px;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid #e7ebee;
        outline: none;
        border-radius: 5px;
        margin-bottom: 20px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .payment-info input.text_box {
        background: #fcfcfc;
        border: 1px solid #ebeced;
    }

    .payment-info .text_box {
        display: inline;
        width: 60px;
        padding: 3px 5px;
        outline: none;
        margin-left: 1%;
        font-size: 20px;
        color: #444;
        width: 100%;
        color: #606060;
        font-size: 15px;
        padding: 8px 0 8px 10px;
        border: none;
        outline: none;
        background: #fff;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .payment-info form input[type="submit"] {
        background: #28a745;
        color: #FFFFFF;
        text-align: center;
        padding: 10px 0;
        border: none;
        font-size: 16px;
        outline: none;
        width: 22%;
        cursor: pointer;
        font-weight: 600;
        margin-bottom: 30px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .user-form ul li {
        list-style-type: none;
        display: inline-block;
        width: 36%;
        margin-right: 9%;
    }

    .tab-form-left {
        float: left;
        width: 48%;
    }

    .tab-form-right {
        float: right;
        width: 48%;
    }

    .single-bottom ul li input[type="checkbox"]+label span:first-child {
        width: 14px;
        height: 14px;
        display: inline-block;
        border: 2px solid #28a745;
        position: absolute;
        left: 0;
        top: 5px;
    }

    .single-bottom ul li input[type="checkbox"]:checked+label span:first-child::before {
        content: "";
        background: url(src/assets/images/11.png)no-repeat;
        position: absolute;
        left: -1px;
        top: -5px;
        font-size: 10px;
        width: 16px;
        height: 16px;
    }

    .single-bottom ul li input[type="checkbox"] {
        display: none;
    }

    .single-bottom ul li {
        list-style: none;
    }

    .single-bottom ul li input[type="checkbox"]+label {
        position: relative;
        padding-left: 31px;
        border: none;
        outline: none;
        font-size: 13px;
        color: #2d3e50;
        font-weight: 600;
        line-height: 1.8em;
    }

    .tab-form-right input[type="text"] {
        width: 92%;
        padding: 8px;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid #e7ebee;
        outline: none;
        color: #ccc;
        border-radius: 5px;
        margin-bottom: 30px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .payment-info a {
        padding: 10px 20px;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        background: #28a745;
        border-radius: 3px;
    }

    .payment-info a:hover {
        text-decoration: underline;
    }

    .payment-info .radio i {
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        width: 16px;
        height: 16px;
        outline: none;
        border: 3px solid #28a745;
        background: #fff;
        cursor: pointer;
        border-radius: 50%;
    }

    .payment-info .radio input:checked+i {
        border: 3px solid #28a745;
        background: #fff;
    }

    .payment-info .radio input:checked+i:after {
        opacity: 1;
    }

    .payment-info .radio input+i:after {
        content: '';
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        background: #000;
        position: absolute;
        opacity: 0;
        transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -webkit-transition: opacity 0.1s;
    }

    .payment-info .radio-btns label {
        font-size: 14px;
        color: #000;
        padding: 0px 0 0 10px;
        font-weight: 600;
    }

    .payment-info .radio input[type="radio"] {
        position: absolute;
        left: -9999px;
    }

    .payment-info .radio:first-child {
        margin-left: 0;
        margin: 0;
    }

    .payment-info .radio {
        padding-left: 22px;
        line-height: 28px;
        color: #404040;
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
    }

    .payment-info .radio-btns {
        margin-bottom: 30px;
    }

    .payment-info h6 {
        padding: 0 0 10px;
    }

    .payment_dv .sle_ppr {
        text-align: center;
        display: block;
        margin-bottom: 40px;
    }

    .payment_dv .sle_ppr .form-check-label img {
        width: auto;
        height: 30px;
    }

    .payment_dv .sle_ppr .form-check {
        display: inline-block;
        vertical-align: middle;
        margin: 0 20px;
    }

    .payment_dv .sle_ppr .form-check-label strong {
        display: block;
        font-weight: 400;
        margin: 6px auto 0;
    }

    .play_txt h4 {
        margin: 0 auto 40px;
    }

    .pay_cal strong {
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
        color: #ec0000;
        margin: 0 0 0 10px;
        line-height: 30px;
    }
    /* dashbrd css */

    .src_data {
        margin: 0 0 16px;
        position: relative;
        width: 500px;
    }

    .src_data button i {
        color: #eb6d11;
    }

    .src_data button {
        border: 0;
        background: #efefef;
        width: 37px;
        height: 37px;
        cursor: pointer;
        color: #eb6d11;
        padding: 0px;
        position: absolute;
        right: 1px;
        top: 1px;
        border-radius: 0 5px 5px 0;
    }

    .dashboard_top_box h4 {
        font-size: 16px;
        line-height: 22px;
        min-height: 44px;
        color: #fff;
    }

    .dasbrd_tab .table .thead-dark th {
        color: #fff;
        background-color: #0069d9;
        border-color: #0069d9;
    }

    .bg-blu {
        background: #4242df;
    }

    .bg-sky {
        background: #3faedc;
    }

    .bg-grn {
        background: #23b723;
    }

    .bg-red {
        background: #f60000;
    }

    .bg-yylo {
        background: #d8bd29;
    }

    .bg-dblu {
        background: #eb6d11;
    }

    .bg-blk {
        background: #16167c;
    }

    .bg-dgr {
        background: #0b6e0b;
    }

    .dashbrde {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .dashbrde h2 {
        font-size: 20px;
        font-size: 24px;
    }

    .prom_inr_com .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 10px 0 0;
    }
    /* .prom_inr_com .gallery img {
        width: 48%;
        border: 5px solid #ccc;
        margin-bottom: 10px;
    } */

    .field .pip>div {
        width: 100%;
    }

    .field .pip {
        position: relative;
        margin: 10px 15px 0px 0;
        display: inline-block;
        width: 29%;
        vertical-align: top;
    }

    .field .pip .remove {
        position: absolute;
    }

    .field .pip .remove {
        position: absolute;
        font-size: 0;
        background: url(src/assets/images/close-icon.png) 0 0 no-repeat;
        background-size: 100%;
        width: 24px;
        height: 24px;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .field .pip {
        position: relative;
    }

    .field .pip>div>img {
        width: 100%;
        height: auto;
    }

    .prom_inr_com .gallery img {
        width: 31%;
        border: 5px solid #ccc;
        margin: 0px 10px 10px 0;
    }

    .outr_wit_dv .prom_dtls textarea {
        height: 100px;
    }
    /* dashbrd css end */

    .prev_tabl table td,
    .prev_tabl table th {
        border-right: 1px solid #ccc;
        font-size: 14px;
        line-height: 20px;
    }

    .prev_tabl table th:first-child,
    .prev_tabl table td:first-child {
        border-left: 1px solid #ccc;
    }

    .prev_tabl table tr:last-child td {
        border-bottom: 1px solid #ccc;
    }

    .dev_tabl.dev_wrk.prev_tabl {
        background: #fff;
        padding: 15px;
    }

    .dev_tabl.dev_wrk.prev_tabl .button_dv {
        display: flex;
        justify-content: end;
    }

    .prn_top_hd {
        display: flex;
        justify-content: space-between;
    }

    .btn_top_pr .btn {
        color: #fff;
    }

    .pqud .pqud_in .prom_inr .prom_inr_com {
        width: 48%;
    }

    .pqud_in .prom_inr {
        padding: 0;
    }

    .sle_ppr_ot .form-check {
        margin: 2px 0;
        display: flex;
    }

    .pqud_in .not {
        margin-top: 30px;
    }

    .sle_ppr_ot .form-check .form-check-input {
        position: inherit;
    }

    .sle_ppr_ot .form-check .form-check-label {
        margin: 5px 0 0 6px;
    }

    .pqud_in .form-group.button_dv {
        position: inherit;
        margin: 0;
    }

    .pqud_in .form-group.button_dv button {
        margin: 0 10px 0 0;
    }

    .profl_pgese {
        display: flex;
        justify-content: space-between;
    }

    .profl_pgese .left_se .dropdown-toggle::after {
        display: none;
    }

    .profl_pgese .left_se span {
        font-size: 20px;
    }

    .profl_pgese .left_se i.fa-bars {
        font-size: 20px;
        margin-right: 10px;
    }

    .profl_pgese .left_se.profl.open .prof_div.dropdown-menu {
        right: inherit;
        left: -1px;
    }

    .prof_div ul li ul {
        display: none;
        position: absolute;
        right: -200px;
        width: 200px;
        top: 0;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, .15);
    }

    .prof_div ul li {
        position: relative;
    }

    .prof_div ul li:hover ul {
        display: block;
    }

    .mapes img {
        width: 51%;
        border: 3px solid #ccc;
        padding: 5px;
        cursor: pointer;
    }

    .prom_inr .btn.btn-warning {
        color: #fff;
    }

    .suc_in {
        display: block;
    }

    .suc_in i {
        color: #28a745;
        font-size: 100px;
    }

    .w-10 {
        width: 100px;
    }

    .agre .form-check {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    .agre .form-check .form-check-label {
        margin: 3px 0 0;
    }

    .agent_details table th {
        font-size: 16px;
        font-weight: 500;
        background: #f3f3f3;
    }

    .field {
        position: relative;
    }

    .up_img {
        width: 200px;
    }

    .up_img img {
        width: 100%;
    }

    .case_details_sec_in li {
        padding: 0 0 10px;
        line-height: 20px;
    }

    .commnt_sc_rp {
        width: 600px;
        margin: 0 auto;
    }

    .commnt_sc_edt label {
        display: block;
        text-align: left;
    }

    .commnt_sc_edt textarea {
        width: 100%;
        height: 140px;
    }

    .commnt_sc_edt {
        margin-bottom: 20px;
    }

    .commnt_sc_rp button {
        margin: 0 auto;
        display: block;
    }

    table td.sorting i.fa.fa-star,
    table td.sorting i.fa.fa-star-o {
        color: #ffc107;
    }
    .app_hdng {
      background: #fff;
      padding: 20px;
      margin: 0 0 20px;
      /* box-shadow: 0 0 15px #eee; */
      border: 1px solid #e1e1e1;
      box-shadow: 0 0 15px #eee;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .tabletab.ckeckview table td .sle_ppr {
      justify-content: center;
    }

    .app_hdng p {
      font-weight: bold;
      width: 48%;
    }

    .app_hdng p strong {
      font-weight: 400;
      width: auto;
      display: inline-block;
    }
