<notifier-container></notifier-container>
<div class="container-fluid pt-2">
  <div class="page-header">
    <h2>Step Fields/Group</h2>
    <hr>
  </div>
  <div class="page-body">
    <div class="top-actions" style="display: block ruby;">
      <button class="float-end" mat-raised-button color="primary" (click)="openModal(modal, 0)">Create</button>
    </div>
    <div style="display: block;">
      <div class="card mt-5 p-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let obj of listData" (opened)="getFieldList(obj.stepid, obj.entityid, obj.entitytypeid)">
            <mat-expansion-panel-header style="background: #19b319;">
              <mat-panel-title style="color: white;">
                {{obj.entitydesc}} / {{obj.entitytypedesc}} / {{obj.stepdesc}}
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="display: block ruby;padding-top: 10px;">
              <button class="float-end" mat-raised-button color="primary" (click)="openModal(modal, 1)">Add</button>
            </div>
            <div class="table-responsive mt-4" style="height: 30vh;overflow: auto;">
              <table class="table table-sm table-bordered">
                <thead>
                <tr>
                  <th>Sequence</th>
                  <th>Field Type</th>
                  <th>Field Name</th>
                  <th>Required</th>
                  <th>Approval Required</th>
                  <th>Field Width</th>
                  <th>Field Size</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obj1 of stepFieldList; let i = index;">
                  <td>{{obj1.sequence}}</td>
                  <td>{{obj1.fieldType}}</td>
                  <td>
                    <span *ngIf="obj1.fielddisplaydesc">{{obj1.fielddisplaydesc}} ({{obj1.fielddesc}})</span>
                    <span *ngIf="obj1.groupname">{{obj1.groupname}}</span>
                  </td>
                  <td>
                    <span *ngIf="obj1.isRequired == 1">Yes</span>
                    <span *ngIf="obj1.isRequired == 0">No</span>
                  </td>
                  <td>
                    <span *ngIf="obj1.isApproval == 1">Yes</span>
                    <span *ngIf="obj1.isApproval == 0">No</span>
                  </td>
                  <td>{{obj1.width}}</td>
                  <td>{{obj1.size}}</td>
                  <td>
                    <button style="color: blue;" (click)="edit(obj1, i, editmodal)">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button class="m-lg-1" style="color: red;" (click)="openDeleteModal(deleteModal, obj1.id, i)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="stepFieldList.length === 0">
                  <td colspan="3" class="text-center">No data found.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<ng-template #modal>
  <div class=" modal-content ">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel">Add Step Fields</h3>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Select Entity:</label>
            <select class="form-control" [(ngModel)]="entityId" (change)="getEntityTypeByEntity()">
              <option value="">Select</option>
              <option *ngFor="let obj of entityList;" [value]="obj.entityid">{{obj.entitydesc}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Select Entity Type:</label>
            <select class="form-control" [(ngModel)]="entityTypeId">
              <option value="">Select</option>
              <option *ngFor="let obj of entityTypeList;" [value]="obj.entitytypeid">{{obj.entitytypedesc}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Select Step:</label>
            <select class="form-control" [(ngModel)]="stepId" (change)="onStepChange()">
              <option value="">Select</option>
              <option *ngFor="let obj of stepList;" [value]="obj.stepid">{{obj.stepdesc}}</option>
            </select>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngIf="isTableView=='1'">Row Name</th>
          <th>Field Type</th>
          <th>Field/Group</th>
          <th>Required</th>
          <th>Approval Required</th>
          <th>Field Width</th>
          <th>Field Size</th>
          <th>Parent Field</th>
          <th>Parent Field Value</th>
          <th style="width: 120px;">Sequence</th>
          <th *ngIf="selectedFields.length > 1"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of selectedFields;let i = index;">
          <td *ngIf="isTableView=='1'">
            <div class="mb-3">
                <input class="form-control" type="text" [(ngModel)]="obj.rowname">
            </div>
          </td>
          <td>
            <div class="mb-3">
              <select class="form-control" [(ngModel)]="obj.fieldType" (change)="onFieldTypeChange(obj)">
                <option value="field">Field</option>
                <option value="group">Field Group</option>
              </select>
            </div>
          </td>
          <td style="width: 250px;">
            <div class="mb-3" *ngIf="obj.fieldType === 'field'">
              <!--<select class="form-control" [(ngModel)]="obj.fieldId">
                <option value="">Select Field</option>
                <option *ngFor="let item of fieldsList;" [value]="item.fieldid">{{item.fielddisplaydesc}} ({{item.fielddesc}})</option>
              </select>-->
              <ng-multiselect-dropdown
                [placeholder]="'Select Fields'"
                [settings]="dropdownSettings"
                [data]="fieldsList"
                [(ngModel)]="obj.fieldId"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="mb-3" *ngIf="obj.fieldType === 'group'">
              <select class="form-control" [(ngModel)]="obj.groupId">
                <option value="">Select Group</option>
                <option *ngFor="let item of groupList;" [value]="item.groupid">{{item.groupname}}</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="obj.isRequired">
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="obj.isApproval">
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <input class="form-control" type="number" [(ngModel)]="obj.width">
            </div>
          </td>
          <td>
            <div class="mb-3">
              <input class="form-control" type="number" [(ngModel)]="obj.size">
            </div>
          </td>
          <td style="width: 200px;">
            <div class="mb-3">
              <select class="form-control" [(ngModel)]="obj.parentFieldId" (change)="onSelectParentField(obj)">
                <option value="">Select Field</option>
                <option *ngFor="let item of fieldsList;" [value]="item.fieldid">{{item.fielddisplaydesc}} ({{item.fielddesc}})</option>
              </select>
            </div>
          </td>
          <td style="width: 200px;">
            <div class="mb-3">
              <mat-select class="form-control" [(ngModel)]="obj.parentFieldValue" multiple>
                <mat-option *ngFor="let d of obj.parentOptions" [value]="d">{{d}}</mat-option>
              </mat-select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <input class="form-control" type="number" [(ngModel)]="obj.sequence">
            </div>
          </td>
          <td *ngIf="selectedFields.length > 1">
            <a (click)="removeItem(i)">
              <i class="fa fa-trash" style="color: red;font-size: 18px;" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div style="text-align: right;">
        <button class="btn-success" (click)="addItem()">Add More</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary" (click)="saveData()">Save</button>
    </div>
  </div>
</ng-template>

<!-- Update Modal -->
<ng-template #editmodal>
  <div class=" modal-content ">
    <div class="modal-header">
      <h3 class="modal-title">Update</h3>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label>Field Type:</label>
        <select class="form-control" [(ngModel)]="fieldType" (change)="onFieldTypeChange({}, 1)">
          <option value="field">Field</option>
          <option value="group">Field Group</option>
        </select>
      </div>
      <div class="mb-3" *ngIf="fieldType === 'field'">
        <select class="form-control" [(ngModel)]="fieldId">
          <option value="">Select Field</option>
          <option *ngFor="let item of fieldsList;" [value]="item.fieldid">{{item.fielddisplaydesc}} ({{item.fielddesc}})</option>
        </select>
      </div>
      <div class="mb-3" *ngIf="fieldType === 'group'">
        <select class="form-control" [(ngModel)]="groupId">
          <option value="">Select Group</option>
          <option *ngFor="let item of groupList;" [value]="item.groupid">{{item.groupname}}</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <label>Required:</label>
          <input class="form-check-input" type="checkbox" [(ngModel)]="isRequired">
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <label>Approval Required:</label>
          <input class="form-check-input" type="checkbox" [(ngModel)]="isApproval">
        </div>
      </div>

      <div class="mb-3">
        <label>Field Width:</label>
        <input class="form-control" type="number" [(ngModel)]="width">
      </div>

      <div class="mb-3">
        <label>Field Size:</label>
        <input class="form-control" type="number" [(ngModel)]="size">
      </div>

      <div class="mb-3">
        <label>Parent Field Value:</label>
        <select class="form-control" [(ngModel)]="parentFieldId" (change)="onSelectParentFieldEdit()">
          <option value="">Select Field</option>
          <option *ngFor="let item of fieldsList;" [value]="item.fieldid">{{item.fielddisplaydesc}} ({{item.fielddesc}})</option>
        </select>
      </div>

      <div class="mb-3">
        <label>Parent Field Value:</label>
        <mat-select class="form-control" [(ngModel)]="parentValue" multiple>
          <mat-option *ngFor="let d of parentOptions" [value]="d">{{d}}</mat-option>
        </mat-select>
      </div>

      <div class="mb-3">
        <label>Sequence:</label>
        <input class="form-control" type="number" [(ngModel)]="sequence">
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary" (click)="updateData()">Update
      </button>
    </div>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal>
  <div class="modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteData()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
