<notifier-container></notifier-container>
<div class="container-fluid pt-2">
  <div class="page-header">
    <h2>Business Unit</h2>
    <hr>
  </div>
  <div class="page-body">
    <div class="top-actions" style="display: block ruby;">
      <button class="float-end" mat-raised-button color="primary" (click)="openModal(0)">Add Field</button>
    </div>
    <div style="display: block;">
      <div class="card mt-5 p-3">
        <div class="table-responsive" style="height: 70vh;overflow: auto;">
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th>#</th>
             
              <th>Business Unit Type</th>
              <th>Business Unit Type Name</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obj of listData; let i = index;">
              <td>{{i + 1}}</td>
              <td>{{obj.businessunittypecode}}</td>
              <td>{{obj.businessunittypename}}</td>
              <td>
                <button style="color: blue;" (click)="edit(obj, i)">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="m-lg-1" style="color: red;" (click)="openDeleteModal(deleteModal, obj.id, i)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="listData.length === 0">
              <td colspan="7" class="text-center">No data found.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class=" modal-content ">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel">{{modalHeader}} Field</h3>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Business Unit Type Id:</label>
        <!-- <input type="number" class="form-control" placeholder="Business Unit Type Id" [(ngModel)]="businessUnitId" > -->

        <select class="form-control" [(ngModel)]="businessUnitId">
          <option value="">Select</option>
          <option *ngFor="let obj of businessTypeList" [value]="obj.id">{{obj.businessunittypecode}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Business Unit Type Name:</label>
        <input type="text" class="form-control" placeholder="Business Unit Type Name" [(ngModel)]="businesName" >
      </div>

      <span class="err-msg">{{errMsg}}</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary" *ngIf="modalHeader == 'Add'" (click)="saveData()">Save</button>
      <button type="button" class="btn btn-primary" *ngIf="modalHeader == 'Update'" (click)="updateData()">Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteData()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
