<div class="main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="resp-tabs-container_in">
                    <div id="order_dv">
                        <h3>Cause List</h3>
                        <div class="filtr_div">
                            <div class="fi_fild src_fld"><input class="form-control" type="text" placeholder="Search">
                            </div>
                            <div class="fi_fild selct">
                                <select class="form-control" formcontrolname="">
                                    <option value="">Select</option>
                                    <option value="complaintant_no">Complainant No.</option>
                                    <option value="complaintant_fname">Complainant Name</option>
                                    <option value="comptype">Complaint Type</option>
                                    <option value="res_respondent_fname">Respondent Name</option>
                                    <option value="proj_reg_no">Project Reg No.</option>
                                    <option value="project_distric">Project District Name</option>
                                    <option value="created_date">Judgement Date</option>
                                    <option value="created_date">Year</option>
                                    <option value="created_date">Bench Type</option>
                                </select>
                            </div>
                            <div class="fi_fild btns">
                                <button class="btn btn-info">Filter</button>
                            </div>
                        </div>
                        <div class="table-responsive what_new">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th align="center" valign="middle">Sl No.</th>
                                    <th align="left" valign="middle">Case No.</th>
                                    <th align="left" valign="middle">Project Registration No.</th>
                                    <th align="left" valign="middle">Project District</th>
                                    <th align="left" valign="middle">Project Name</th>
                                    <th align="left" valign="middle">Complainant Name</th>
                                    <th align="left" valign="middle">Respondent Name</th>
                                    <th align="left" valign="middle">Hearing Date</th>
<!--                                    <th align="left" valign="middle">Hearing Time</th>-->
                                    <th align="left" valign="middle">Bench</th>
<!--                                    <th align="left" valign="middle">Hearing No.</th>-->
                                    <th align="center" valign="middle">Current Status</th>
                                </tr>
                                <tr *ngFor="let obj of causeList; let i = index;">
                                    <td align="center" valign="middle">{{i+1}}</td>
                                    <td align="left" valign="middle">{{obj.CaseNo}}</td>
                                    <td align="left" valign="middle">{{obj.Project_Registration_No}}</td>
                                    <td align="left" valign="middle">{{obj.Project_District}}</td>
                                    <td align="left" valign="middle">{{obj.Project_Name ? obj.Project_Name : 'NOT FOUND'}}</td>
                                    <td align="left" valign="middle">{{obj.project_complainent_details}}</td>
                                    <td align="left" valign="middle">{{obj.project_respondant_details}}</td>
                                    <td align="left" valign="middle">{{obj.Hearing_date !== null && obj.Hearing_date !== 'Not Scheduled' ? obj.Hearing_date : obj.Hearing_date}}</td>
<!--                                    <td align="left" valign="middle">{{obj.Hearing_date !== null && obj.Hearing_date !== 'Not Scheduled' ? obj.Hearing_date.split(' ')[1] : obj.Hearing_date}}</td>-->
                                    <td align="left" valign="middle">{{obj.Allocated_bench}}</td>
<!--                                    <td align="left" valign="middle">{{obj.Hearing_No}}</td>-->
                                    <td align="left" valign="middle">{{obj.Current_Status}}</td>
                                    <!-- <td align="center" valign="middle"><a href="https://rera.bihar.gov.in/Cause_List/17.%2006-07-2021_RERA_CC_1802_628_2020_Smt.%20Anju%20Tiwari_Vs%20Ms.%20Agrani%20Homes%20Pvt.%20Ltd._FINAL%20ORDER%20%20PASSED%20ON%2006-07-2021.pdf" target="_blank"><i class="fa fa-eye" style="font-size:18px;"></i></a></td> -->
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div id="app">
                            <ul class="page">
                                <li class="page__btn" (click)="onBtnClick('prev')"><span class="material-icons">chevron_left</span></li>
                                <li class="page__numbers" *ngFor="let page of getPageList()" [ngClass]="currentPage == page?'active': ''"
                                    (click)="onPageClick(page)">{{page}}</li>
                                <li class="page__btn"  (click)="onBtnClick('next')"><span class="material-icons">chevron_right</span></li>
                            </ul>
                        </div>
                    </div>
                    <div id="ex_order_dv" class="hide">

                        <h3>Execution Order</h3>
                        <div class="filtr_div">
                            <div class="fi_fild src_fld"><input class="form-control" type="text" placeholder="Search">
                            </div>
                            <div class="fi_fild selct">
                                <select class="form-control" formcontrolname="">
                                    <option value="">Select</option>
                                    <option value="complaintant_fname">Complainant Name</option>
                                    <option value="comptype">Complaint Type</option>
                                    <option value="res_respondent_fname">Respondent Name</option>
                                    <option value="proj_reg_no">Project Reg No.</option>
                                    <option value="project_distric">Project District Name</option>
                                    <option value="created_date">Judgement Date</option>
                                    <option value="created_date">Year</option>
                                    <option value="created_date">Bench Type</option>
                                    <option value="created_date">Complaint Type</option>
                                </select>
                            </div>
                            <div class="fi_fild btns">
                                <button class="btn btn-info">Filter</button>
                            </div>
                        </div>
                        <div class="table-responsive what_new">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th align="center" valign="middle">Sl No.</th>
                                    <th align="left" valign="middle">Complainant No.</th>
                                    <th align="left" valign="middle">Complainant Name</th>
                                    <th align="left" valign="middle">Complaint Type</th>
                                    <th align="left" valign="middle">Respondent Name</th>
                                    <th align="left" valign="middle">Project Reg No.</th>
                                    <th align="left" valign="middle">Project District Name</th>
                                    <th align="left" valign="middle">Judgement Date</th>
                                    <th align="left" valign="middle">Bench Type</th>
                                    <th align="center" valign="middle" style="text-align:center;">View File</th>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="left" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>