



.sign_dv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.undrtakes .sign_dv p {
    margin: 5px 0;
}
.prom_sign img {
    display: block;
    margin: 0 auto;
}
.prom_sign {
    text-align: center;
}
.prom_sign .form-control {
    width: 250px;
    margin: 20px 0 10px;
}
.button_dv.lms_dv{margin-top: 20px;}
.button_dv.lms_dv button {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_dv.lms_dv button svg{
    margin-right: 5px;
}